//  Base
@use 'normalize.css/normalize.css';
@use '../../base/reset';
@use '../../base/grid';

// Partials
@use '../../base/base';
@use '../../base/typography';
@use '../../partials/buttons';

// Utils
@use '../../utils/mixins' as mix;
@use '../../utils/variables' as vars;
@use '../../utils/functions' as fn;

.benefits {
  &__container {
    display: flex;
    flex-direction: column;
    gap: fn.cmin(32, 60);
  }

  &__text-block {
    display: flex;
    flex-direction: column;
    gap: fn.cmin(12, 20);
    align-self: center;
    max-width: 768px;
    text-align: center;
  }

  &__title-block {
    display: flex;
    flex-direction: column;
    gap: fn.cmin(4, 12);
  }

  &__subtitle {
    @include mix.p14;

    opacity: 0.5;
  }

  &__title {
    @include mix.h2;
  }

  &__desc {
    @include mix.title;

    opacity: 0.5;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: fn.cmin(32, 60);
  }

  &__item {
    display: flex;
    gap: fn.cmax(32, 64);
    align-items: center;

    @media (min-width: vars.$min-lg) {
      &:nth-child(2n) {
        & > *:first-child {
          order: 3;
        }
      }
    }

    @media (max-width: vars.$lg) {
      flex-direction: column;
      align-items: unset;

      & > *:first-child {
        order: 3;
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: fn.cmin(20, 32);

    &-text-block {
      display: flex;
      flex-direction: column;
      gap: fn.cmin(12, 16);
    }

    &-name {
      @include mix.h3;
    }

    &-desc {
      @include mix.title;

      opacity: 0.5;
    }

    &-list {
      display: flex;
      flex-direction: column;
      gap: fn.cmin(12, 20);
    }

    &-item {
      @include mix.p16;

      display: flex;
      gap: fn.cmin(8, 12);

      span {
        opacity: 0.5;
      }
    }

    &-icon {
      width: fn.cmin(20, 24);
      height: fn.cmin(20, 24);
    }
  }

  &__img {
    &-wrap {
      @media (min-width: vars.$min-lg) {
        flex-basis: 50%;
        flex-shrink: 0;
      }

      @media (max-width: vars.$lg) {
        width: 100%;
      }
    }

    width: 100%;
    border-radius: 20px;
  }
}
