//  Base
@use 'normalize.css/normalize.css';
@use '../base/reset';

// Libs
@use '../vendor/select.scss';

// Partials
@use '../base/base';
@use '../base/typography';
@use '../partials/buttons';
@use '../partials/select-nav';

// Utils
@use '../utils/mixins' as mix;
@use '../utils/variables' as vars;
@use '../utils/functions' as fn;

.header {
  display: flex;
  align-items: center;
  height: 80px;

  @media (max-width: vars.$lg) {
    height: 72px;
  }

  @include mix.p16;

  &__container {
    display: flex;
    gap: 48px;
    align-items: center;

    @media (max-width: vars.$xl) {
      gap: 24px;
    }
  }

  &__logo {
    display: inline-flex;
    flex: none;
    height: fn.cmin(32, 36);
  }

  &__nav {
    &-list {
      display: flex;
      gap: 30px;
      align-items: center;

      @media (max-width: vars.$xl) {
        gap: 15px;
      }
    }

    @media (max-width: vars.$lg) {
      display: none;
    }
  }

  &__contacts {
    display: flex;
    gap: 8px;
    margin-left: auto;

    @media (max-width: vars.$lg) {
      display: none;
    }
  }

  &__burger {
    display: flex;
    flex: none;
    flex-direction: column;
    justify-content: space-between;
    width: 24px;
    height: 24px;
    margin-left: auto;
    padding: 6px 4px;
    color: var(--black);

    &_dark {
      color: var(--white);
    }

    @media (min-width: vars.$min-lg) {
      display: none;
    }

    &-item {
      width: 100%;
      height: 2px;
      background: currentcolor;
      border-radius: 2px;
    }
  }
}
