extends ../../layouts/main

block vars
  - const groupName = 'benefits-num';
  - const cssName = 'benefits-num-3';
  //- - const jsName = 'benefits-num-3';

block content
  // Добавить к block класс block_dark
  // Добавить к benefits-num-3__list класс benefits-num-3__list_dark
  section.benefits-num-3.section.block
    .benefits-num-3__container.container
      .benefits-num-3__text-block
        h2.benefits-num-3__title Great products, faster than ever
        p.benefits-num-3__desc Everything you need to build modern UI and great products.
      .row-container
        ul.row.benefits-num-3__list
          li.col-4.col-md
            .benefits-num-3__item 
              h3.benefits-num-3__name 
                span.benefits-num-3__name_big 400+
                | Projects completed
          li.col-4.col-md
            .benefits-num-3__item 
              h3.benefits-num-3__name 
                span.benefits-num-3__name_big 600%
                | Renturn on investment
          li.col-4.col-md
            .benefits-num-3__item 
              h3.benefits-num-3__name 
                span.benefits-num-3__name_big 10k
                | Global downloads
      