extends ../../layouts/main

block vars
  - const groupName = 'benefits-num';
  - const cssName = 'benefits-num-7';
  //- - const jsName = 'benefits-num-7';

block content
  include ../../partials/text-block
  include ../../partials/bottom-info

  section.benefits-num-7.section.block
    .benefits-num-7__container.container
      +text-block('', {btn: 'm', descRight: true})
      .benefits-num-7__list-block
        ul.row.benefits-num-7__list
          li.col-4.col-md
            .benefits-num-7__item 
              h3.benefits-num-7__name 
                span.benefits-num-7__name_big 400+
                | Projects completed
          li.col-4.col-md
            .benefits-num-7__item 
              h3.benefits-num-7__name 
                span.benefits-num-7__name_big 600%
                | Return on investment
          li.col-4.col-md
            .benefits-num-7__item 
              h3.benefits-num-7__name 
                span.benefits-num-7__name_big 10k
                | Global downloads
      +bottom-info('', {size: 'm'})
