extends ../../layouts/main

block vars
  - const groupName = 'benefits-num';
  - const cssName = 'benefits-num-6';
  //- - const jsName = 'benefits-num-6';

block content
  include ../../partials/text-block
  include ../../partials/bottom-info

  section.benefits-num-6.section.block
    .benefits-num-6__container.container
      +text-block('', {btn: 'm'})
      ul.benefits-num-6__list
        - let i = 0;
        while i < 6
          - i++
          li.benefits-num-6__item 
            strong.benefits-num-6__item-name Plätze im Restaurant für
            strong.benefits-num-6__item-info 70 Personen
      +bottom-info('', {size: 'm'})
      
