extends ../../layouts/main

block vars
  - const groupName = 'benefits-num';
  - const cssName = 'benefits-num-7';
  //- - const jsName = 'benefits-num-7';

block content
  // Добавить к block класс block_dark
  section.benefits-num-7.section.block
    .benefits-num-7__container.container
      .benefits-num-7__text-block
        span.benefits-num-7__subtitle Features
        .benefits-num-7__title-block
          h2.benefits-num-7__title Gönnen Sie sich eine Auszeit für eine kulinarische Reise durch Italien 
          p.benefits-num-7__desc Geniessen Sie unsere Köstlichkeiten und italienische Spezialitäten. Unsere Köche zaubern für Sie unvergessliche Geschmackserlebnisse. 
      .container
        ul.row.benefits-num-7__list
          li.col-4.col-md
            .benefits-num-7__item 
              h3.benefits-num-7__name 
                span.benefits-num-7__name_big 400+
                | Projects completed
          li.col-4.col-md
            .benefits-num-7__item 
              h3.benefits-num-7__name 
                span.benefits-num-7__name_big 600%
                | Return on investment
          li.col-4.col-md
            .benefits-num-7__item 
              h3.benefits-num-7__name 
                span.benefits-num-7__name_big 10k
                | Global downloads