// Utils
@use '../../utils/mixins' as mix;
@use '../../utils/variables' as vars;
@use '../../utils/functions' as fn;

.error-1 {
  &__list {
    row-gap: 24px;
  }

  &__item-order {
    @media (max-width: vars.$lg) {
      order: 3;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: fn.cmin(24, 48);
    justify-content: center;
    height: 100%;
  }

  &__text-block {
    display: flex;
    flex-direction: column;
    gap: fn.cmin(12, 24);
  }

  &__title {
    @include mix.h1;
  }

  &__desc {
    @include mix.p20;
  }

  &__btn-block {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
  }

  &__img {
    &-wrap,
    & {
      width: 100%;
      height: 100%;
    }

    @include mix.ratio(630, 640);

    border-radius: 20px;

    @media (max-width: vars.$lg) {
      @include mix.ratio(328, 400);
    }
  }
}
