extends ../../layouts/main

block vars
  - const groupName = 'modal';
  - const cssName = 'modal-1';
  //- - const jsName = 'modal-1';

block content
  include ../../partials/tickets

  // Удалить класс modal_active перед добавления в конструктор
  // Кнопкам для открытия дать data-modal-open атрибут с значением modal-1
  // Theme!!!
  // Добавить к block класс block_dark
  // Добавить к tickets класс tickets_dark
  // Заменить класс btn_black на btn_white
  section.modal-1.modal_active.modal.block.block(data-modal="modal-1")
    .modal__inner
      .modal-1__content
        button.modal__close(type="button")
          svg.modal__close-icon(viewBox="0 0 32 32", fill="none", xmlns="http://www.w3.org/2000/svg")
            path(d="M25 7L7 25", stroke="currentColor", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
            path(d="M25 25L7 7", stroke="currentColor", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
        .modal-1__text-block
          .modal-1__title-block
            h2.modal-1__title Анатолий Белый  
            span.modal-1__subtitle.subtitle "Я здесь!"
          ul.modal-1__info 
            li.modal-1__info-item 26.03.2023 - 17.12.2023
            li.modal-1__info-item € 35,00 - € 80,00
        +tickets(false)
        
              
        