// Utils
@use '../../utils/mixins' as mix;
@use '../../utils/variables' as vars;
@use '../../utils/functions' as fn;

.benefits-num-3 {
  &__container {
    display: flex;
    flex-direction: column;
    gap: fn.cmin(32, 64);
  }

  &__text-block {
    display: flex;
    flex-direction: column;
    gap: fn.cmin(12, 20);
    align-self: center;
    max-width: 768px;
    text-align: center;
  }

  &__title {
    @include mix.h2;

    color: var(--title);
  }

  &__desc {
    @include mix.p20;

    color: var(--desc);
  }

  &__list {
    row-gap: 16px;
    padding-top: fn.cmin(24, 64);
    padding-bottom: fn.cmin(24, 64);
    color: var(--white);
    background: var(--black);
    border-radius: 16px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  &__name {
    display: flex;
    flex-direction: column;
    gap: 12px;

    @include mix.p18;

    &_big {
      @include mix.h1;
    }
  }
}
