// Utils
@use '../../utils/mixins' as mix;
@use '../../utils/variables' as vars;
@use '../../utils/functions' as fn;

.benefits-num-7 {
  &__container {
    display: flex;
    flex-direction: column;
    gap: fn.cmin(32, 60);
    align-items: center;
  }

  &__list {
    &-block {
      width: 100%;
      padding-top: fn.cmin(24, 64);
      padding-bottom: fn.cmin(24, 64);
      color: var(--neutral-100);
      background: var(--neutral-900);
      border-radius: 16px;
    }

    row-gap: 16px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  &__name {
    display: flex;
    flex-direction: column;
    gap: 12px;

    @include mix.p18-regular;

    &_big {
      @include mix.h1;
    }
  }
}
