extends ../../layouts/main

block vars
  - const cssName = 'contacts-2';
  //- - const jsName = 'contacts-2';

block content
  // Добавить к block класс block_dark
  section.contacts-2.section.block
    .contacts-2__container.container
      .contacts-2__text-block 
        span.contacts-2__subtitle Contact us
        h2.contacts-2__title We’d love to hear from you
        p.contacts-2__desc Our friendly team is always here to chat.
      ul.row.contacts-2__list
        li.col-4.col-lg-6.col-sm
          .contacts-2__item 
            svg.contacts-2__icon(viewBox="0 0 48 48", fill="none", xmlns="http://www.w3.org/2000/svg")
              path(d="M22 30H12L26 2V18H36L22 46V30Z", fill="currentColor")
            .contacts-2__item-text-block
              h3.contacts-2__name Email
              span.contacts-2__text Our friendly team is here to help.
            a.contacts-2__info(href="mailto:hi@untitledui.com") hi@untitledui.com
        li.col-4.col-lg-6.col-sm
          .contacts-2__item 
            svg.contacts-2__icon(viewBox="0 0 48 48", fill="none", xmlns="http://www.w3.org/2000/svg")
              path(d="M22 30H12L26 2V18H36L22 46V30Z", fill="currentColor")
            .contacts-2__item-text-block
              h3.contacts-2__name Office
              span.contacts-2__text Come say hello at our office HQ.
            address.contacts-2__info 
              | 100 Smith Street 
              br
              | Collingwood VIC 3066 AU
        li.col-4.col-lg-6.col-sm
          .contacts-2__item 
            svg.contacts-2__icon(viewBox="0 0 48 48", fill="none", xmlns="http://www.w3.org/2000/svg")
              path(d="M22 30H12L26 2V18H36L22 46V30Z", fill="currentColor")
            .contacts-2__item-text-block
              h3.contacts-2__name Phone
              span.contacts-2__text Mon-Fri from 8am to 5pm.
            a.contacts-2__info(href="tel:+15550000000") +1 (555) 000-0000
    