// Utils
@use '../../utils/mixins' as mix;
@use '../../utils/variables' as vars;
@use '../../utils/functions' as fn;

.hero-7 {
  &__container {
    display: flex;
    flex-direction: column;
    gap: fn.cmin(12, 32);
  }

  &__img {
    &-wrap,
    & {
      width: 100%;
    }

    border-radius: fn.cmin(10, 20);
  }
}
