//  Base
@use 'normalize.css/normalize.css';
@use '../../base/reset';

// Partials
@use '../../base/base';
@use '../../base/typography';
@use '../../partials/buttons';

// Utils
@use '../../utils/mixins' as mix;
@use '../../utils/variables' as vars;
@use '../../utils/functions' as fn;

.hero-6 {
  &__container {
    display: flex;
    flex-direction: column;
    gap: fn.cmin(16, 48);
  }

  &__img {
    &-wrap,
    & {
      width: 100%;
    }

    border-radius: 20px;
  }

  &__content {
    display: flex;
    gap: 12px;
    align-items: flex-start;

    @media (max-width: vars.$lg) {
      flex-direction: column;
      align-items: unset;
    }
  }

  &__text-block {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: fn.cmin(8, 12);
  }

  &__title {
    @include mix.h2;
  }

  &__subtitle {
    @include mix.title;
  }

  &__btn {
    @media (max-width: vars.$lg) {
      width: 100%;
    }
  }
}
