extends ../../layouts/main

block vars
  - const groupName = 'newsletter';
  - const cssName = 'newsletter-4';
  //- - const jsName = 'newsletter-4';

block content
  include ../../partials/checkbox

  section.newsletter-4.section.block
    .newsletter-4__container.container
      .newsletter-4__text-block 
        h2.newsletter-4__title Join 2,000+ subscribers
        p.newsletter-4__desc Sign up for our newsletter and get 10% off your next purchase.
      .newsletter-4__form-block
        form.newsletter-4__form(action="#") 
          .field.field_medium
            label.visually-hidden(for="#newsletter-4-email") 
            input#newsletter-4-email(type="email" placeholder="Enter your email")
          button.btn.btn_m.btn_primary(type="submit") Subscribe 
        span.newsletter-4__text Мы заботимся о ваших данных в нашей политике конфиденциальности.

    
    