// Utils
@use '../../utils/mixins' as mix;
@use '../../utils/variables' as vars;
@use '../../utils/functions' as fn;

.breadcrumbs-1 {
  padding: fn.cmin(16, 32) 0;

  @include mix.p16;

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: fn.cmin(8, 12);
    align-items: center;
  }

  &__item {
    position: relative;
    display: flex;
    gap: fn.cmin(8, 12);
    align-items: center;

    &:not(&:last-child) {
      &::after {
        width: 12px;
        height: 12px;
        color: var(--desc);
        background: url('@/assets/images/chevron-down-black.svg') no-repeat center / contain;
        transform: rotate(-90deg);
        content: '';
      }
    }
  }

  &__link {
    color: var(--desc);
    transition: opacity 0.3s ease-in-out;

    &:hover,
    &:focus-visible,
    &:active {
      opacity: 1;
    }
  }
}
