// Utils
@use '../../utils/mixins' as mix;
@use '../../utils/variables' as vars;
@use '../../utils/functions' as fn;

.contacts-4 {
  &__container-inner {
    row-gap: 32px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: fn.cmin(32, 64);

    @media (max-width: vars.$lg) {
      gap: 16px;
    }
  }

  &__block {
    display: flex;
    flex-direction: column;
    gap: fn.cmin(12, 24);

    @media (max-width: vars.$lg) {
      padding-bottom: 16px;
      border-bottom: 1px solid var(--black-10);
    }
  }

  &__title {
    @include mix.h2;
  }

  &__heading {
    @include mix.h4;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: fn.cmin(12, 16);
  }

  &__item {
    display: flex;
    gap: 12px;
    align-items: flex-start;
    width: fit-content;
  }

  &__icon {
    width: 24px;
    height: 24px;
  }

  &__text {
    @include mix.p16;

    display: flex;
    flex-direction: column;
    gap: 4px;

    &_small {
      @include mix.p14;

      display: flex;
      flex-direction: column;
    }
  }

  &__map {
    position: relative;
    height: 100%;
  }

  &__img {
    &-wrap,
    & {
      width: 100%;
      height: 100%;
    }

    border-radius: 20px;

    @media (max-width: vars.$lg) {
      @include mix.ratio(328, 400);
    }
  }

  &__baloon {
    position: absolute;
    top: 20%;
    left: 20%;
    z-index: 3;
    width: 32px;
    height: 32px;
    color: var(--black);
  }
}
