@use '../utils/mixins' as mix;
@use '../utils/variables' as vars;
@use '../utils/functions' as fn;

.acc {
  display: flex;
  flex-direction: column;

  &_dark {
    .acc__item {
      border-color: var(--white-10);
    }
  }

  &__item {
    margin-top: -1px;
    border-top: 1px solid var(--black-10);
    border-bottom: 1px solid var(--black-10);

    &:first-child {
      border-top: none;

      .acc__head {
        padding-top: 0;
      }
    }

    &:last-child {
      border-bottom: none;

      .acc__head {
        padding-bottom: 0;
      }
    }

    &:not(&_active) {
      .acc__icon_close {
        display: none;
      }
    }

    &_active {
      .acc {
        &__icon_open {
          display: none;
        }

        &__head {
          padding-bottom: fn.cmin(12, 16);
        }
      }
    }
  }

  &__head {
    position: relative;
    z-index: 1;
    display: flex;
    gap: fn.cmin(12, 24);
    align-items: center;
    justify-content: space-between;
    padding-top: fn.cmin(12, 24);
    padding-bottom: fn.cmin(12, 32);
    transition: padding-bottom 0.3s ease-in-out;
  }

  &__trigger {
    &_inset {
      position: absolute;
      inset: 0;
      z-index: -1;
    }
  }

  &__title {
    @include mix.h5;

    color: var(--title);
  }

  &__icon {
    &-block {
      display: inline-flex;
    }

    width: 24px;
    height: 24px;
    opacity: 0.5;
  }

  &__body {
    max-height: 0;
    overflow: hidden;
    opacity: 0.5;
    transition: max-height 0.3s ease-in-out;

    @include mix.p16;
  }

  &__content {
    padding-bottom: fn.cmin(12, 32);
  }
}
