@use '../utils/mixins' as mix;
@use '../utils/variables' as vars;
@use '../utils/functions' as fn;

.btn {
  display: inline-flex;
  gap: 6px;
  align-items: center;
  justify-content: center;
  width: fit-content;
  color: var(--neutral-900);
  white-space: nowrap;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 12px;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;

  &:hover,
  &:focus-visible,
  &:active {
    background: #eaecf0;
    border-color: #eaecf0;
  }

  &_all {
    @media (max-width: vars.$sm) {
      width: 100%;
    }
  }

  &_l {
    @include mix.btn-l;

    @media (max-width: vars.$md) {
      @include mix.btn-m;
    }
  }

  &_m {
    @include mix.btn-m;

    @media (max-width: vars.$md) {
      @include mix.btn-s;
    }
  }

  &_s {
    @include mix.btn-s;

    @media (max-width: vars.$md) {
      @include mix.btn-xs;
    }
  }

  &_xs {
    @include mix.btn-xs;
  }

  &_primary {
    color: var(--neutral-100);
    background: var(--neutral-900);
    border-color: var(--neutral-900);

    &:hover,
    &:focus-visible,
    &:active {
      background: #575d68;
      border-color: #575d68;
    }
  }

  &_secondary {
    color: var(--neutral-900);
    background: var(--neutral-100);
    border-color: var(--neutral-100);

    &:hover,
    &:focus-visible,
    &:active {
      background: #b6bac1;
      border-color: #b6bac1;
    }
  }

  &_outline {
    color: var(--neutral-900);
    border-color: var(--neutral-900);

    &:hover,
    &:focus-visible,
    &:active {
      color: var(--neutral-100);
      background: var(--neutral-900);
      border-color: var(--neutral-900);
    }

    &-white {
      color: var(--neutral-100);
      border-color: var(--neutral-100);

      &:hover,
      &:focus-visible,
      &:active {
        color: var(--neutral-900);
        background: var(--neutral-100);
        border-color: var(--neutral-100);
      }
    }
  }
}

.btn-arrow {
  display: inline-flex;
  flex: none;
  align-items: center;
  justify-content: center;
  width: fit-content;
  width: fn.cmin(32, 56);
  height: fn.cmin(32, 56);
  color: var(--neutral-600);
  background: var(--white);
  border: 1px solid var(--neutral-600);
  border-radius: 50%;

  &__icon {
    width: fn.cmin(14, 24);
    height: fn.cmin(14, 24);
  }
}
