@use '../utils/mixins' as mix;
@use '../utils/variables' as vars;
@use '../utils/functions' as fn;

.field {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;

  &_l {
    .field {
      &__input {
        @include mix.p16-regular;

        padding: 8px 20px;
      }
    }
  }

  &_m {
    .field {
      &__input {
        @include mix.p16-regular;

        padding: 8px 16px;
      }
    }
  }

  &_s {
    .field {
      &__input {
        @include mix.p16-regular;

        padding: 8px 12px;
      }
    }
  }

  &_error {
    .field {
      &__input {
        color: #f34141 !important;
        background: #fef2f2 !important;
        border-color: #FAC7C7 !important;

        &::placeholder {
          color: #f34141 !important;
        }
      }

      &__helper {
        color: #f34141 !important;
      }
    }
  }

  &__label {
    @include mix.p14-regular;

    margin-bottom: 8px;
    color: var(--neutral-600);
  }

  &__helper {
    @include mix.p14-regular;

    margin-top: 12px;
    color: var(--neutral-400);
  }

  &__input {
    width: 100%;
    background: var(--white);
    border: 1px solid var(--neutral-400);
    border-radius: 12px;
    transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out;

    &::placeholder {
      color: var(--neutral-400);
      transition: color 0.3s ease-in-out;
    }

    &:hover,
    &:focus {
      border-color: var(--neutral-900);
    }

    &:active {
      border-color: var(--neutral-900);

      &::placeholder {
        color: var(--neutral-900);
      }
    }

    &:disabled {
      background: var(--neutral-100) !important;
      border-color: var(--neutral-200) !important;
    }

    &[type='date'] {
      color: var(--neutral-400);

      &:focus,
      &:active {
        color: var(--neutral-900);
      }
    }
  }

  // ! Проверить все инпуты и использовать блок field
}
