@use '../utils/mixins' as mix;
@use '../utils/variables' as vars;
@use '../utils/functions' as fn;

.nav-popup {
  position: relative;
  display: flex;
  gap: 8px;
  align-items: center;

  &:hover,
  &:focus-within,
  &:active {
    .nav-popup {
      &__icon {
        transform: rotate(180deg);
      }

      &__content {
        visibility: visible;
        opacity: 1;
      }
    }
  }

  &__btn {
    display: inline-flex;
  }

  &__icon {
    width: 16px;
    height: 16px;
    transition: transform 0.3s ease-in-out;
  }

  &__content {
    position: absolute;
    top: 100%;
    width: max-content;
    min-width: 100%;
    padding-top: 12px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  }

  &__list {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background: var(--white);
    border: 1px solid var(--black-30);
    border-radius: 12px;
  }

  &__link {
    width: 100%;
    padding: 10px 16px;
    transition: background-color 0.3s ease-in-out;

    &:hover,
    &:focus-visible,
    &:active {
      background: var(--black-10);
    }
  }
}
