.select-nav {
  &.is-open {
    .select {
      &__head {
        &::after {
          transform: translateY(-50%) rotate(180deg);
        }
      }
    }
  }

  .select {
    color: var(--black);

    &__head,
    &__body {
      background: var(--white);
    }

    &__head,
    &__body,
    &__option_body {
      border: none;
    }

    &__head {
      padding-right: 24px;

      &::after {
        position: absolute;
        top: 50%;
        right: 0;
        width: 16px;
        height: 16px;
        background: url('@/assets/images/chevron-down-black.svg') no-repeat center / contain;
        transform: translateY(-50%);
        transition: transform 0.3s ease-in-out;
        content: '';
        aspect-ratio: 1/1;
      }
    }

    &__option {
      padding-right: 5px;
      padding-left: 5px;

      &_body {
        padding-top: 5px;
        padding-bottom: 5px;
        transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;

        &:hover,
        &:focus-visible,
        &:active {
          color: var(--white) !important;
          background: var(--black) !important;
        }
      }
    }
  }
}
