@use '../utils/mixins' as mix;
@use '../utils/variables' as vars;
@use '../utils/functions' as fn;

.tickets {
  display: flex;
  flex-direction: column;
  gap: fn.cmin(24, 48);

  &__steps {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: fn.cmin(24, 48) 0;
    overflow: hidden;
    border-top: 1px solid var(--neutral-300);
    border-bottom: 1px solid var(--neutral-300);

    &::before {
      position: absolute;
      top: 50%;
      left: 0;
      z-index: -1;
      width: 100%;
      height: 1px;
      margin-right: -50vw;
      background: var(--neutral-300);
      transform: translateY(-50%);
      content: '';
    }

    &-item {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 32px;
      height: 32px;
      background: var(--neutral-300);
      border-radius: 50%;

      @media (max-width: vars.$md) {
        width: 48px;
        height: 48px;
      }

      &_fill {
        color: var(--neutral-100);
        background: var(--neutral-900);

        &::before {
          position: absolute;
          top: 50%;
          left: 0;
          z-index: 3;
          width: 0;
          height: 1px;
          margin-right: -50vw;
          background: var(--neutral-900);
          transform: translateY(-50%);
          content: '';
        }

        &:first-child {
          &::before {
            width: 25%;
          }
        }

        &:nth-child(2) {
          &::before {
            width: 75%;
          }
        }

        &:nth-child(3) {
          &::before {
            width: 100%;
          }
        }
      }

      &-text {
        position: relative;
        z-index: 4;
      }
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: fn.cmin(24, 48);
  }

  &__item {
    display: flex;
    flex-wrap: wrap;
    gap: 16px 22px;
    align-items: center;
    justify-content: space-between;

    &-content {
      display: flex;
      gap: fn.cmin(12, 24);
      align-items: flex-start;
    }

    &-date {
      display: flex;
      flex-direction: column;
      gap: 8px;
      align-items: center;
      justify-content: center;
      min-width: 60px;
      min-height: 68px;
      color: var(--neutral-100);
      text-align: center;
      background: var(--neutral-900);

      @media (max-width: vars.$md) {
        gap: 10px;
      }

      &-num {
        @include mix.p20-regular;
      }

      &-text {
        @include mix.p14-regular;
      }
    }

    &-text-block {
      display: flex;
      flex-direction: column;
      gap: 12px;
    }

    &-name {
      @include mix.h4;
    }

    &-info {
      display: flex;
      flex-wrap: wrap;
      gap: 8px 16px;

      &-item {
        display: flex;
        gap: 8px;
      }

      &-icon {
        width: 24px;
        height: 24px;
      }
    }

    &-btn {
      @media (max-width: vars.$lg) {
        width: 100%;
      }
    }
  }
}
