extends ../../layouts/main

block vars
  - const groupName = 'about';
  - const cssName = 'about-1';
  //- - const jsName = 'about-1';

block content
  include ../../partials/text-block
  
  section.about-1.section.block
    .about-1__container.container 
      .about-1__img-block.order
        picture.about-1__img-wrap 
          img.about-1__img(src="@/assets/images/about/img-1.jpg", alt="")
      .about-1__content
        +text-block('tal ais', {btn: 'm', descCount: 2})
      