extends ../../layouts/main

block vars
  - const cssName = 'about-1-2';
  //- - const jsName = 'about-1-2';

block content
  // Для About-2 добавить к about about_2
  
  // !!!Theme
  // Добавить к block класс block_dark
  // Заменить класс btn_black на btn_white
  section.about.section.block
    .about__container.container 
      .about__content
        .about__text-block
          .about__title-block 
            span.about__subtitle Our studio
            h2.about__title Design that influences how people work, learn, live and experience the world. 
          .about__desc 
            p Dolor enim eu tortor urna sed duis nulla. Aliquam vestibulum, nulla odio nisl vitae. In aliquet pellentesque aenean hac vestibulum turpis mi bibendum diam. Tempor integer aliquam in vitae malesuada fringilla.
            p Elit nisi in eleifend sed nisi. Pulvinar at orci, proin imperdiet commodo consectetur convallis risus. 
        button.about__btn.btn.btn_all.btn_extralarge.btn_black(type="button") Get in touch 
      .about__img-block 
        picture.about__img-wrap 
          img.about__img(src="@/assets/img/about/img-1.jpg", alt="")
      