extends ../../layouts/main

block vars
  - const groupName = 'gallery';
  - const cssName = 'gallery-3-4';
  //- - const jsName = 'gallery-3-4';

block content
  include ../../partials/text-block
  include ../../partials/bottom-info

  section.gallery-3-4.section.block
    .gallery-3-4__container.container 
      +text-block('tal ais', {btn: 'm'})
      ul.gallery-3-4__list
        li.gallery-3-4__item.gallery-3-4__item_8        
          a.gallery-3-4__link(data-fslightbox="gallery-3-4" href="https://placehold.co/1200x600")
            picture.gallery-3-4__img-wrap
              img.gallery-3-4__img(src="@/assets/images/gallery/4/item-1.jpg", alt="")
        li.gallery-3-4__item.gallery-3-4__item_2                
          a.gallery-3-4__link(data-fslightbox="gallery-3-4" href="https://placehold.co/1200x600")
            picture.gallery-3-4__img-wrap
              img.gallery-3-4__img(src="@/assets/images/gallery/4/item-2.jpg", alt="")
        li.gallery-3-4__item.gallery-3-4__item_2                
          a.gallery-3-4__link(data-fslightbox="gallery-3-4" href="https://placehold.co/1200x600")
            picture.gallery-3-4__img-wrap
              img.gallery-3-4__img(src="@/assets/images/gallery/4/item-3.jpg", alt="")
        
        li.gallery-3-4__item.gallery-3-4__item_5          
          a.gallery-3-4__link(data-fslightbox="gallery-3-4" href="https://placehold.co/1200x600")
            picture.gallery-3-4__img-wrap
              img.gallery-3-4__img(src="@/assets/images/gallery/4/item-4.jpg", alt="")
        li.gallery-3-4__item.gallery-3-4__item_2                
          a.gallery-3-4__link(data-fslightbox="gallery-3-4" href="https://placehold.co/1200x600")
            picture.gallery-3-4__img-wrap
              img.gallery-3-4__img(src="@/assets/images/gallery/4/item-5.jpg", alt="")
        li.gallery-3-4__item.gallery-3-4__item_5                
          a.gallery-3-4__link(data-fslightbox="gallery-3-4" href="https://placehold.co/1200x600")
            picture.gallery-3-4__img-wrap
              img.gallery-3-4__img(src="@/assets/images/gallery/4/item-6.jpg", alt="")
        
        li.gallery-3-4__item.gallery-3-4__item_4          
          a.gallery-3-4__link(data-fslightbox="gallery-3-4" href="https://placehold.co/1200x600")
            picture.gallery-3-4__img-wrap
              img.gallery-3-4__img(src="@/assets/images/gallery/4/item-7.jpg", alt="")
        li.gallery-3-4__item.gallery-3-4__item_4                
          a.gallery-3-4__link(data-fslightbox="gallery-3-4" href="https://placehold.co/1200x600")
            picture.gallery-3-4__img-wrap
              img.gallery-3-4__img(src="@/assets/images/gallery/4/item-8.jpg", alt="")
        li.gallery-3-4__item.gallery-3-4__item_4                
          a.gallery-3-4__link(data-fslightbox="gallery-3-4" href="https://placehold.co/1200x600")
            picture.gallery-3-4__img-wrap
              img.gallery-3-4__img(src="@/assets/images/gallery/4/item-9.jpg", alt="")
      +bottom-info('tal ais', {size: 'm'})
      