extends ../../layouts/main

block vars
  - const groupName = 'gallery';
  - const cssName = 'gallery-3-6';
  - const jsName = 'gallery-3-6';

block content
  section.gallery-3-6.section.block
    .gallery-3-6__container.container 
      h2.gallery-3-6__title Gallery 
      .row.gallery-3-6__list 
        a.gallery-3-6__item.gallery-3-6__item_8(data-fslightbox="gallery-3-6" href="https://placehold.co/1200x600")
          picture.gallery-3-6__img-wrap
            img.gallery-3-6__img(src="@/assets/images/gallery/4/item-1.jpg", alt="")
        a.gallery-3-6__item.gallery-3-6__item_2(data-fslightbox="gallery-3-6" href="https://placehold.co/1200x600")
          picture.gallery-3-6__img-wrap
            img.gallery-3-6__img(src="@/assets/images/gallery/4/item-2.jpg", alt="")
        a.gallery-3-6__item.gallery-3-6__item_2(data-fslightbox="gallery-3-6" href="https://placehold.co/1200x600")
          picture.gallery-3-6__img-wrap
            img.gallery-3-6__img(src="@/assets/images/gallery/4/item-3.jpg", alt="")

        a.gallery-3-6__item.gallery-3-6__item_5(data-fslightbox="gallery-3-6" href="https://placehold.co/1200x600")
          picture.gallery-3-6__img-wrap
            img.gallery-3-6__img(src="@/assets/images/gallery/4/item-4.jpg", alt="")
        a.gallery-3-6__item.gallery-3-6__item_2(data-fslightbox="gallery-3-6" href="https://placehold.co/1200x600")
          picture.gallery-3-6__img-wrap
            img.gallery-3-6__img(src="@/assets/images/gallery/4/item-5.jpg", alt="")
        a.gallery-3-6__item.gallery-3-6__item_5(data-fslightbox="gallery-3-6" href="https://placehold.co/1200x600")
          picture.gallery-3-6__img-wrap
            img.gallery-3-6__img(src="@/assets/images/gallery/4/item-6.jpg", alt="")

        a.gallery-3-6__item.gallery-3-6__item_4(data-fslightbox="gallery-3-6" href="https://placehold.co/1200x600")
          picture.gallery-3-6__img-wrap
            img.gallery-3-6__img(src="@/assets/images/gallery/4/item-7.jpg", alt="")
        a.gallery-3-6__item.gallery-3-6__item_4(data-fslightbox="gallery-3-6" href="https://placehold.co/1200x600")
          picture.gallery-3-6__img-wrap
            img.gallery-3-6__img(src="@/assets/images/gallery/4/item-8.jpg", alt="")
        a.gallery-3-6__item.gallery-3-6__item_4(data-fslightbox="gallery-3-6" href="https://placehold.co/1200x600")
          picture.gallery-3-6__img-wrap
            img.gallery-3-6__img(src="@/assets/images/gallery/4/item-9.jpg", alt="")
      .swiper.gallery-3-6__slider
        ul.swiper-wrapper
          - let i = 0;
          while i < 11
            - i++  
            li.swiper-slide
              a.gallery-3-6__link(data-fslightbox="gallery-3-6" href="https://placehold.co/1200x600")
                picture.gallery-3-6__img-wrap
                  img.gallery-3-6__img(src="https://placehold.co/500x400", alt="") 
         
      