extends ../../layouts/main

block vars
  - const groupName = 'gallery';
  - const cssName = 'gallery-3-4';
  //- - const jsName = 'gallery-3-4';

block content
  // Добавить к block класс block_dark
  section.gallery-3-4.section.block
    .gallery-3-4__container.container 
      h2.gallery-3-4__title Gallery 
      .row.gallery-3-4__list
        a.gallery-3-4__item(data-fslightbox="gallery-3-4" href="https://placehold.co/1200x600")
          picture.gallery-3-4__img-wrap
            img.gallery-3-4__img(src="@/assets/img/gallery/4/item-1.jpg", alt="")
        a.gallery-3-4__item(data-fslightbox="gallery-3-4" href="https://placehold.co/1200x600")
          picture.gallery-3-4__img-wrap
            img.gallery-3-4__img(src="@/assets/img/gallery/4/item-2.jpg", alt="")
        a.gallery-3-4__item(data-fslightbox="gallery-3-4" href="https://placehold.co/1200x600")
          picture.gallery-3-4__img-wrap
            img.gallery-3-4__img(src="@/assets/img/gallery/4/item-3.jpg", alt="")
        a.gallery-3-4__item(data-fslightbox="gallery-3-4" href="https://placehold.co/1200x600")
          picture.gallery-3-4__img-wrap
            img.gallery-3-4__img(src="@/assets/img/gallery/4/item-4.jpg", alt="")
        a.gallery-3-4__item(data-fslightbox="gallery-3-4" href="https://placehold.co/1200x600")
          picture.gallery-3-4__img-wrap
            img.gallery-3-4__img(src="@/assets/img/gallery/4/item-5.jpg", alt="")
        a.gallery-3-4__item(data-fslightbox="gallery-3-4" href="https://placehold.co/1200x600")
          picture.gallery-3-4__img-wrap
            img.gallery-3-4__img(src="@/assets/img/gallery/4/item-6.jpg", alt="")
        a.gallery-3-4__item(data-fslightbox="gallery-3-4" href="https://placehold.co/1200x600")
          picture.gallery-3-4__img-wrap
            img.gallery-3-4__img(src="@/assets/img/gallery/4/item-7.jpg", alt="")
        a.gallery-3-4__item(data-fslightbox="gallery-3-4" href="https://placehold.co/1200x600")
          picture.gallery-3-4__img-wrap
            img.gallery-3-4__img(src="@/assets/img/gallery/4/item-8.jpg", alt="")
        a.gallery-3-4__item(data-fslightbox="gallery-3-4" href="https://placehold.co/1200x600")
          picture.gallery-3-4__img-wrap
            img.gallery-3-4__img(src="@/assets/img/gallery/4/item-9.jpg", alt="")
        
      