extends ../../layouts/main

block vars
  - const groupName = 'gallery';
  - const cssName = 'gallery-3-6';
  - const jsName = 'gallery-3-6';

block content
  // Добавить к block класс block_dark
  section.gallery-3-6.section.block
    .gallery-3-6__container.container 
      h2.gallery-3-6__title Gallery 
      ul.row.gallery-3-6__list 
        .gallery-3-6__item.gallery-3-6__item_8
          picture.gallery-3-6__img-wrap
            img.gallery-3-6__img(src="@/assets/img/gallery/4/item-1.jpg", alt="")
        .gallery-3-6__item.gallery-3-6__item_2
          picture.gallery-3-6__img-wrap
            img.gallery-3-6__img(src="@/assets/img/gallery/4/item-2.jpg", alt="")
        .gallery-3-6__item.gallery-3-6__item_2
          picture.gallery-3-6__img-wrap
            img.gallery-3-6__img(src="@/assets/img/gallery/4/item-3.jpg", alt="")

        .gallery-3-6__item.gallery-3-6__item_5
          picture.gallery-3-6__img-wrap
            img.gallery-3-6__img(src="@/assets/img/gallery/4/item-4.jpg", alt="")
        .gallery-3-6__item.gallery-3-6__item_2
          picture.gallery-3-6__img-wrap
            img.gallery-3-6__img(src="@/assets/img/gallery/4/item-5.jpg", alt="")
        .gallery-3-6__item.gallery-3-6__item_5
          picture.gallery-3-6__img-wrap
            img.gallery-3-6__img(src="@/assets/img/gallery/4/item-6.jpg", alt="")

        .gallery-3-6__item.gallery-3-6__item_4
          picture.gallery-3-6__img-wrap
            img.gallery-3-6__img(src="@/assets/img/gallery/4/item-7.jpg", alt="")
        .gallery-3-6__item.gallery-3-6__item_4
          picture.gallery-3-6__img-wrap
            img.gallery-3-6__img(src="@/assets/img/gallery/4/item-8.jpg", alt="")
        .gallery-3-6__item.gallery-3-6__item_4
          picture.gallery-3-6__img-wrap
            img.gallery-3-6__img(src="@/assets/img/gallery/4/item-9.jpg", alt="")
      .swiper.gallery-3-6__slider
        ul.swiper-wrapper 
          li.swiper-slide
            picture.gallery-3-6__img-wrap
              img.gallery-3-6__img(src="@/assets/img/gallery/4/item-1.jpg", alt="")
          li.swiper-slide
            picture.gallery-3-6__img-wrap
              img.gallery-3-6__img(src="@/assets/img/gallery/4/item-2.jpg", alt="")
          li.swiper-slide
            picture.gallery-3-6__img-wrap
              img.gallery-3-6__img(src="@/assets/img/gallery/4/item-3.jpg", alt="")
          li.swiper-slide
            picture.gallery-3-6__img-wrap
              img.gallery-3-6__img(src="@/assets/img/gallery/4/item-4.jpg", alt="")
          li.swiper-slide
            picture.gallery-3-6__img-wrap
              img.gallery-3-6__img(src="@/assets/img/gallery/4/item-5.jpg", alt="")
          li.swiper-slide
            picture.gallery-3-6__img-wrap
              img.gallery-3-6__img(src="@/assets/img/gallery/4/item-6.jpg", alt="")
          li.swiper-slide
            picture.gallery-3-6__img-wrap
              img.gallery-3-6__img(src="@/assets/img/gallery/4/item-7.jpg", alt="")
          li.swiper-slide
            picture.gallery-3-6__img-wrap
              img.gallery-3-6__img(src="@/assets/img/gallery/4/item-8.jpg", alt="")
          li.swiper-slide
            picture.gallery-3-6__img-wrap
              img.gallery-3-6__img(src="@/assets/img/gallery/4/item-9.jpg", alt="")
          
      