extends ../../layouts/main

block vars
  - const groupName = 'empty';
  - const cssName = 'empty-1';
  //- - const jsName = 'empty-1';

block content
  // Добавить к block класс block_dark
  section.empty-1.section.block
    .container.empty-1__container
      .empty-1__content 
        h2.empty-1__title Partner Events
        .empty-1__img-block
          picture.empty-1__img-wrap 
            img.empty-1__img(src="@/assets/img/empty/empty-1.svg", alt="")
          p.empty-1__desc Keine Veranstaltung gefunden