extends ../../layouts/main

block vars
  - const groupName = 'cta';
  - const cssName = 'cta-5';
  //- - const jsName = 'cta-5';

block content
  section.cta-5.section.block
    .cta-5__container.container 
      .cta-5__content 
        .cta-5__title-block
          span.cta-5__subtitle.subtitle Mach mit!
          h2.cta-5__title Werde Teil der Bewegung „Comedy Union Deutschland“!
        button.cta-5__btn.btn.btn_extralarge.btn_black(type="button") Купить билет
        