extends ../../layouts/main

block vars
  - const cssName = 'cta-2';
  //- - const jsName = 'cta-2';

block content
  // Добавить к block класс block_dark
  // Добавить к cta__content класс cta__content_dark
  // Заменить класс btn_black на btn_white
  // Заменить класс btn_trs-black на btn_trs-white
  section.cta.section.block
    .cta__container.container 
      .row.cta__list 
        .col-6.col-xl.cta__item-order
          .cta__content
            .cta__text-block
              h2.cta__title Connected to what matters
              p.cta__desc The Develop in Swift guides are flexible enough to help you support students brand new to coding and those with advanced skills. The lessons provide practical experience developing apps with Swift in Xcode
            .cta__btn-block 
              button.btn.btn_extralarge.btn_black(type="button") Let’s go 
              button.btn.btn_extralarge.btn_trs-black(type="button") Lean more 
        .col-6.col-xl
          picture.cta__img-wrap
            img.cta__img(src="@/assets/img/cta/img-2.jpg", alt="")