extends ../../layouts/main

block vars
  - const groupName = 'cta';
  - const cssName = 'cta-2';
  //- - const jsName = 'cta-2';

block content
  // Добавить к block класс block_dark
  // Добавить к cta-2__content класс cta-2__content_dark
  // Заменить класс btn_black на btn_white
  // Заменить класс btn_trs-black на btn_trs-white
  section.cta-2.section.block
    .cta-2__container.container 
      .row.cta-2__list 
        .col-6.col-xl.cta-2__item-order
          .cta-2__content
            .cta-2__text-block
              h2.cta-2__title Connected to what matters
              p.cta-2__desc The Develop in Swift guides are flexible enough to help you support students brand new to coding and those with advanced skills. The lessons provide practical experience developing apps with Swift in Xcode
            .cta-2__btn-block 
              button.btn.btn_extralarge.btn_black(type="button") Let’s go 
              button.btn.btn_extralarge.btn_trs-black(type="button") Lean more 
        .col-6.col-xl
          picture.cta-2__img-wrap
            img.cta-2__img(src="@/assets/images/cta/img-2.jpg", alt="")