extends ../../layouts/main

block vars
  - const groupName = 'blog';
  - const cssName = 'blog-3-3';
  //- - const jsName = 'blog-3-3';

block content
  section.blog-3-3.section.block
    .blog-3-3__container.container 
      .blog-3-3__text-block 
        .blog-3-3__title-block  
          strong.blog-3-3__subtitle.subtitle Latest posts
          h2.blog-3-3__title Untitled blog
        p.blog-3-3__title-desc Interviews, tips, guides, industry best practices, and news.
      ul.row.blog-3-3__list
        li.col-4.col-xl-6.col-md  
          .blog-3-3__item
            a.blog-3-3__link(href="#") 
              picture.blog-3-3__img-wrap 
                img.blog-3-3__img(src="@/assets/images/blog/blog-3-3.jpg", alt="")
              .blog-3-3__item-content
                .blog-3-3__item-text-block
                  span.blog-3-3__info Olivia Rhye • 20 Jan 2022
                  .blog-3-3__name-block
                    h3.blog-3-3__name
                      | UX review presentations
                      svg.blog-3-3__name_icon(viewBox="0 0 20 20", fill="none", xmlns="http://www.w3.org/2000/svg")
                        path(d="M5 15L15 5", stroke="currentColor", stroke-width="1.25", stroke-linecap="round", stroke-linejoin="round")
                        path(d="M6.875 5H15V13.125", stroke="currentColor", stroke-width="1.25", stroke-linecap="round", stroke-linejoin="round")
                  p.blog-3-3__desc How do you create compelling presentations that wow your colleagues and impress your managers?
                ul.blog-3-3__badge-list
                  li 
                    span.badge Presentation
                  li 
                    span.badge Presentation
                  li 
                    span.badge Research
        li.col-4.col-xl-6.col-md  
          .blog-3-3__item
            a.blog-3-3__link(href="#") 
              picture.blog-3-3__img-wrap 
                img.blog-3-3__img(src="@/assets/images/blog/blog-3-3.jpg", alt="")
              .blog-3-3__item-content
                .blog-3-3__item-text-block
                  span.blog-3-3__info Olivia Rhye • 20 Jan 2022
                  h3.blog-3-3__name 
                    | UX review presentations
                    svg.blog-3-3__name_icon(viewBox="0 0 20 20", fill="none", xmlns="http://www.w3.org/2000/svg")
                      path(d="M5 15L15 5", stroke="currentColor", stroke-width="1.25", stroke-linecap="round", stroke-linejoin="round")
                      path(d="M6.875 5H15V13.125", stroke="currentColor", stroke-width="1.25", stroke-linecap="round", stroke-linejoin="round")
                  p.blog-3-3__desc How do you create compelling presentations that wow your colleagues and impress your managers?
                ul.blog-3-3__badge-list
                  li 
                    span.badge Presentation
                  li 
                    span.badge Presentation
                  li 
                    span.badge Research
        li.col-4.col-xl-6.col-md  
          .blog-3-3__item
            a.blog-3-3__link(href="#") 
              picture.blog-3-3__img-wrap 
                img.blog-3-3__img(src="@/assets/images/blog/blog-3-3.jpg", alt="")
              .blog-3-3__item-content
                .blog-3-3__item-text-block
                  span.blog-3-3__info Olivia Rhye • 20 Jan 2022
                  .blog-3-3__name-block
                    h3.blog-3-3__name
                      | UX review presentations
                      svg.blog-3-3__name_icon(viewBox="0 0 20 20", fill="none", xmlns="http://www.w3.org/2000/svg")
                        path(d="M5 15L15 5", stroke="currentColor", stroke-width="1.25", stroke-linecap="round", stroke-linejoin="round")
                        path(d="M6.875 5H15V13.125", stroke="currentColor", stroke-width="1.25", stroke-linecap="round", stroke-linejoin="round")
                  p.blog-3-3__desc How do you create compelling presentations that wow your colleagues and impress your managers?
                ul.blog-3-3__badge-list
                  li 
                    span.badge Presentation
                  li 
                    span.badge Presentation
                  li 
                    span.badge Research
      button.btn.btn_large.btn_black(type="button") View all posts