// Utils
@use '../../utils/mixins' as mix;
@use '../../utils/variables' as vars;
@use '../../utils/functions' as fn;

.header-1-1 {
  position: relative;
  z-index: 20;

  &.block_dark {
    .header-1-1 {
      &__inner {
        background: var(--dark);
      }
    }
  }

  &__inner {
    @include mix.p16;

    display: flex;
    align-items: center;
    height: 80px;
    background: var(--white);

    @media (max-width: vars.$lg) {
      height: 72px;
    }
  }

  &__container {
    display: flex;
    gap: 48px;
    align-items: center;

    @media (max-width: vars.$xl) {
      gap: 24px;
    }
  }

  &__logo {
    display: inline-flex;
    flex: none;
    height: fn.cmin(32, 36);

    @media (max-width: vars.$lg) {
      margin-right: auto;
    }
  }

  &__nav {
    &-list {
      display: flex;
      gap: 30px;
      align-items: center;

      @media (max-width: vars.$xl) {
        gap: 15px;
      }
    }

    @media (max-width: vars.$lg) {
      display: none;
    }
  }

  &__contacts {
    display: flex;
    gap: 8px;
    margin-left: auto;

    &-btn {
      svg {
        @media (min-width: vars.$min-lg) {
          display: none;
        }
      }

      &_mobile {
        @media (min-width: vars.$min-lg) {
          display: none;
        }
      }
    }

    @media (max-width: vars.$lg) {
      display: none;
    }
  }

  &__burger {
    display: flex;
    flex: none;
    flex-direction: column;
    justify-content: space-between;
    width: 24px;
    height: 24px;
    padding: 6px 4px;
    color: var(--black);

    &_dark {
      color: var(--white);
    }

    @media (min-width: vars.$min-lg) {
      display: none;
    }

    &-item {
      width: 100%;
      height: 2px;
      background: currentcolor;
      border-radius: 2px;
    }
  }
}
