// Main Styles
@use '../../base/base';

// Utils
@use '../../utils/mixins' as mix;
@use '../../utils/variables' as vars;
@use '../../utils/functions' as fn;

.modal-1 {
  @include mix.p16;

  &.block_dark {
    .modal-1 {
      &__content {
        background: #2d2d2d;
      }
    }
  }

  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: fn.cmin(24, 48);
    width: 850px;
    max-width: calc(100vw - (var(--padding) * 2));
    margin: 0 auto;
    padding: fn.cmin(24, 64) fn.cmin(18, 64);
    background: #f4f4f4;
    border-radius: 12px;

    @media (max-width: vars.$sm) {
      padding: 24px 12px;
    }
  }

  &__close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 24px fn.cmin(16, 24);
    opacity: 0.5;
    transition: opacity 0.3s ease-in-out;

    &:hover,
    &:focus-visible,
    &:active {
      opacity: 1;
    }

    &-icon {
      width: fn.cmin(24, 32);
      height: fn.cmin(24, 32);
    }
  }

  &__text-block {
    display: flex;
    flex-direction: column;
    gap: fn.cmin(12, 16);
  }

  &__title-block {
    display: flex;
    flex-direction: column;
    gap: fn.cmin(8, 12);
  }

  &__title {
    @include mix.h2;
  }

  &__subtitle {
    @include mix.title;
  }

  &__info {
    display: flex;
    flex-wrap: wrap;
    gap: fn.cmin(8, 12) fn.cmin(24, 40);
  }
}
