@use './variables' as vars;
@use './functions' as fn;

@mixin ratio($width, $height) {
  $aspect-ratio: calc(#{$height} / #{$width});

  aspect-ratio: 1 / $aspect-ratio;
}

// Headings
@mixin h1 {
  font-weight: var(--h1-font-weight);
  font-size: var(--h1-font-size);
  font-family: var(--h1-font-family);
  font-style: var(--h1-font-style);
  line-height: var(--h1-line-height);
  letter-spacing: var(--h1-letter-spacing);
}

@mixin h2 {
  font-weight: var(--h2-font-weight);
  font-size: var(--h2-font-size);
  font-family: var(--h2-font-family);
  font-style: var(--h2-font-style);
  line-height: var(--h2-line-height);
  letter-spacing: var(--h2-letter-spacing);
}

@mixin h3 {
  font-weight: var(--h3-font-weight);
  font-size: var(--h3-font-size);
  font-family: var(--h3-font-family);
  font-style: var(--h3-font-style);
  line-height: var(--h3-line-height);
  letter-spacing: var(--h3-letter-spacing);
}

@mixin h4 {
  font-weight: var(--h4-font-weight);
  font-size: var(--h4-font-size);
  font-family: var(--h4-font-family);
  font-style: var(--h4-font-style);
  line-height: var(--h4-line-height);
  letter-spacing: var(--h4-letter-spacing);
}

@mixin h5 {
  font-weight: var(--h5-font-weight);
  font-size: var(--h5-font-size);
  font-family: var(--h5-font-family);
  font-style: var(--h5-font-style);
  line-height: var(--h5-line-height);
  letter-spacing: var(--h5-letter-spacing);
}

// Text
@mixin p20-regular {
  font-weight: var(--p20-regular-font-weight);
  font-size: var(--p20-regular-font-size);
  font-family: var(--p20-regular-font-family);
  font-style: var(--p20-regular-font-style);
  line-height: var(--p20-regular-line-height);
  letter-spacing: var(--p20-regular-letter-spacing);
}

@mixin p20-medium {
  font-weight: var(--p20-medium-font-weight);
  font-size: var(--p20-medium-font-size);
  font-family: var(--p20-medium-font-family);
  font-style: var(--p20-medium-font-style);
  line-height: var(--p20-medium-line-height);
  letter-spacing: var(--p20-medium-letter-spacing);
}

@mixin p20-semibold {
  font-weight: var(--p20-semibold-font-weight);
  font-size: var(--p20-semibold-font-size);
  font-family: var(--p20-semibold-font-family);
  font-style: var(--p20-semibold-font-style);
  line-height: var(--p20-semibold-line-height);
  letter-spacing: var(--p20-semibold-letter-spacing);
}

@mixin p18-regular {
  font-weight: var(--p18-regular-font-weight);
  font-size: var(--p18-regular-font-size);
  font-family: var(--p18-regular-font-family);
  font-style: var(--p18-regular-font-style);
  line-height: var(--p18-regular-line-height);
  letter-spacing: var(--p18-regular-letter-spacing);
}

@mixin p18-medium {
  font-weight: var(--p18-medium-font-weight);
  font-size: var(--p18-medium-font-size);
  font-family: var(--p18-medium-font-family);
  font-style: var(--p18-medium-font-style);
  line-height: var(--p18-medium-line-height);
  letter-spacing: var(--p18-medium-letter-spacing);
}

@mixin p18-semibold {
  font-weight: var(--p18-semibold-font-weight);
  font-size: var(--p18-semibold-font-size);
  font-family: var(--p18-semibold-font-family);
  font-style: var(--p18-semibold-font-style);
  line-height: var(--p18-semibold-line-height);
  letter-spacing: var(--p18-semibold-letter-spacing);
}

@mixin p16-regular {
  font-weight: var(--p16-regular-font-weight);
  font-size: var(--p16-regular-font-size);
  font-family: var(--p16-regular-font-family);
  font-style: var(--p16-regular-font-style);
  line-height: var(--p16-regular-line-height);
  letter-spacing: var(--p16-regular-letter-spacing);
}

@mixin p16-medium {
  font-weight: var(--p16-medium-font-weight);
  font-size: var(--p16-medium-font-size);
  font-family: var(--p16-medium-font-family);
  font-style: var(--p16-medium-font-style);
  line-height: var(--p16-medium-line-height);
  letter-spacing: var(--p16-medium-letter-spacing);
}

@mixin p16-semibold {
  font-weight: var(--p16-semibold-font-weight);
  font-size: var(--p16-semibold-font-size);
  font-family: var(--p16-semibold-font-family);
  font-style: var(--p16-semibold-font-style);
  line-height: var(--p16-semibold-line-height);
  letter-spacing: var(--p16-semibold-letter-spacing);
}

@mixin p14-regular {
  font-weight: var(--p14-regular-font-weight);
  font-size: var(--p14-regular-font-size);
  font-family: var(--p14-regular-font-family);
  font-style: var(--p14-regular-font-style);
  line-height: var(--p14-regular-line-height);
  letter-spacing: var(--p14-regular-letter-spacing);
}

@mixin p14-medium {
  font-weight: var(--p14-medium-font-weight);
  font-size: var(--p14-medium-font-size);
  font-family: var(--p14-medium-font-family);
  font-style: var(--p14-medium-font-style);
  line-height: var(--p14-medium-line-height);
  letter-spacing: var(--p14-medium-letter-spacing);
}

@mixin p14-semibold {
  font-weight: var(--p14-semibold-font-weight);
  font-size: var(--p14-semibold-font-size);
  font-family: var(--p14-semibold-font-family);
  font-style: var(--p14-semibold-font-style);
  line-height: var(--p14-semibold-line-height);
  letter-spacing: var(--p14-semibold-letter-spacing);
}

@mixin p12-regular {
  font-weight: var(--p12-regular-font-weight);
  font-size: var(--p12-regular-font-size);
  font-family: var(--p12-regular-font-family);
  font-style: var(--p12-regular-font-style);
  line-height: var(--p12-regular-line-height);
  letter-spacing: var(--p12-regular-letter-spacing);
}

@mixin p12-medium {
  font-weight: var(--p12-medium-font-weight);
  font-size: var(--p12-medium-font-size);
  font-family: var(--p12-medium-font-family);
  font-style: var(--p12-medium-font-style);
  line-height: var(--p12-medium-line-height);
  letter-spacing: var(--p12-medium-letter-spacing);
}

@mixin p12-semibold {
  font-weight: var(--p12-semibold-font-weight);
  font-size: var(--p12-semibold-font-size);
  font-family: var(--p12-semibold-font-family);
  font-style: var(--p12-semibold-font-style);
  line-height: var(--p12-semibold-line-height);
  letter-spacing: var(--p12-semibold-letter-spacing);
}

// Buttons
@mixin btn-l {
  gap: var(--btn-l-gap);
  padding: var(--btn-l-padding);
  font-weight: var(--btn-l-font-weight);
  font-size: var(--btn-l-font-size);
  font-family: var(--btn-l-font-family);
  font-style: var(--btn-l-font-style);
  line-height: var(--btn-l-line-height);

  svg {
    width: var(--btn-l-icon-width);
    height: var(--btn-l-icon-height);
  }
}

@mixin btn-m {
  gap: var(--btn-m-gap);
  padding: var(--btn-m-padding);
  font-weight: var(--btn-m-font-weight);
  font-size: var(--btn-m-font-size);
  font-family: var(--btn-m-font-family);
  font-style: var(--btn-m-font-style);
  line-height: var(--btn-m-line-height);

  svg {
    width: var(--btn-m-icon-width);
    height: var(--btn-m-icon-height);
  }
}

@mixin btn-s {
  gap: var(--btn-s-gap);
  padding: var(--btn-s-padding);
  font-weight: var(--btn-s-font-weight);
  font-size: var(--btn-s-font-size);
  font-family: var(--btn-s-font-family);
  font-style: var(--btn-s-font-style);
  line-height: var(--btn-s-line-height);

  svg {
    width: var(--btn-s-icon-width);
    height: var(--btn-s-icon-height);
  }
}

@mixin btn-xs {
  gap: var(--btn-xs-gap);
  padding: var(--btn-xs-padding);
  font-weight: var(--btn-xs-font-weight);
  font-size: var(--btn-xs-font-size);
  font-family: var(--btn-xs-font-family);
  font-style: var(--btn-xs-font-style);
  line-height: var(--btn-xs-line-height);

  svg {
    width: var(--btn-xs-icon-width);
    height: var(--btn-xs-icon-height);
  }
}
