@use './variables' as vars;
@use './functions' as fn;

@mixin ratio($width, $height) {
  $aspect-ratio: calc(#{$height} / #{$width});

  aspect-ratio: 1 / $aspect-ratio;
}

@mixin h1 {
  font-weight: var(--h1-font-weight);
  font-size: var(--h1-font-size);
  font-family: var(--h1-font-family);
  font-style: var(--h1-font-style);
  line-height: var(--h1-font-style);
  letter-spacing: var(--h1-letter-spacing);
}

@mixin h2 {
  font-weight: var(--h2-font-weight);
  font-size: var(--h2-font-size);
  font-family: var(--h2-font-family);
  font-style: var(--h2-font-style);
  line-height: var(--h2-font-style);
  letter-spacing: var(--h2-letter-spacing);
}

@mixin h3 {
  font-weight: var(--h3-font-weight);
  font-size: var(--h3-font-size);
  font-family: var(--h3-font-family);
  font-style: var(--h3-font-style);
  line-height: var(--h3-font-style);
  letter-spacing: var(--h3-letter-spacing);
}

@mixin h4 {
  font-weight: var(--h4-font-weight);
  font-size: var(--h4-font-size);
  font-family: var(--h4-font-family);
  font-style: var(--h4-font-style);
  line-height: var(--h4-font-style);
  letter-spacing: var(--h4-letter-spacing);
}

@mixin h5 {
  font-weight: var(--h5-font-weight);
  font-size: var(--h5-font-size);
  font-family: var(--h5-font-family);
  font-style: var(--h5-font-style);
  line-height: var(--h5-font-style);
  letter-spacing: var(--h5-letter-spacing);
}

@mixin p20 {
  font-weight: var(--p20-font-weight);
  font-size: var(--p20-font-size);
  font-family: var(--p20-font-family);
  font-style: var(--p20-font-style);
  line-height: var(--p20-font-style);
  letter-spacing: var(--p20-letter-spacing);
}

@mixin p18 {
  font-weight: var(--p18-font-weight);
  font-size: var(--p18-font-size);
  font-family: var(--p18-font-family);
  font-style: var(--p18-font-style);
  line-height: var(--p18-font-style);
  letter-spacing: var(--p18-letter-spacing);
}

@mixin p16 {
  font-weight: var(--p16-font-weight);
  font-size: var(--p16-font-size);
  font-family: var(--p16-font-family);
  font-style: var(--p16-font-style);
  line-height: var(--p16-font-style);
  letter-spacing: var(--p16-letter-spacing);
}

@mixin p14 {
  font-weight: var(--p14-font-weight);
  font-size: var(--p14-font-size);
  font-family: var(--p14-font-family);
  font-style: var(--p14-font-style);
  line-height: var(--p14-font-style);
  letter-spacing: var(--p14-letter-spacing);
}

@mixin btn-extralarge {
  gap: var(--btn-extralarge-gap);
  padding: var(--btn-extralarge-padding);
  font-weight: var(--btn-extralarge-font-weight);
  font-size: var(--btn-extralarge-font-size);
  font-family: var(--btn-extralarge-font-family);
  font-style: var(--btn-extralarge-font-style);
  line-height: var(--btn-extralarge-line-height);

  .btn__icon {
    width: var(--btn-extralarge-width);
    height: var(--btn-extralarge-height);
  }
}

@mixin btn-large {
  gap: var(--btn-large-gap);
  padding: var(--btn-large-padding);
  font-weight: var(--btn-large-font-weight);
  font-size: var(--btn-large-font-size);
  font-family: var(--btn-large-font-family);
  font-style: var(--btn-large-font-style);
  line-height: var(--btn-large-line-height);

  svg {
    width: var(--btn-large-width);
    height: var(--btn-large-height);
  }
}

@mixin btn-medium {
  gap: var(--btn-medium-gap);
  padding: var(--btn-medium-padding);
  font-weight: var(--btn-medium-font-weight);
  font-size: var(--btn-medium-font-size);
  font-family: var(--btn-medium-font-family);
  font-style: var(--btn-medium-font-style);
  line-height: var(--btn-medium-line-height);

  svg {
    width: var(--btn-medium-width);
    height: var(--btn-medium-height);
  }
}

@mixin btn-small {
  gap: var(--btn-small-gap);
  padding: var(--btn-small-padding);
  font-weight: var(--btn-small-font-weight);
  font-size: var(--btn-small-font-size);
  font-family: var(--btn-small-font-family);
  font-style: var(--btn-small-font-style);
  line-height: var(--btn-small-line-height);

  svg {
    width: var(--btn-small-width);
    height: var(--btn-small-height);
  }
}
