// Utils
@use '../../utils/mixins' as mix;
@use '../../utils/variables' as vars;
@use '../../utils/functions' as fn;

.newsletter-2 {
  &__content {
    display: flex;
    gap: var(--gutter);
    justify-content: space-between;
    padding: fn.cmin(32, 64) 20px fn.cmin(32, 64) fn.cmin(24, 80);
    background: var(--neutral-100);
    border-radius: 20px;

    @media (max-width: vars.$lg) {
      flex-direction: column;
    }

    @media (max-width: vars.$md) {
      padding-right: 12px;
      padding-left: 12px;
    }
  }

  &__text-block {
    display: flex;
    flex-direction: column;
    gap: fn.cmin(12, 16);
  }

  &__title {
    @include mix.h3;

    color: var(--title);
  }

  &__desc {
    @include mix.h5;

    color: var(--desc);
  }

  &__form {
    &-block {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    display: flex;
    gap: fn.cmin(5, 16);

    @media (max-width: vars.$sm) {
      gap: 4px;
    }
  }

  &__text {
    @include mix.p14-regular;

    color: var(--desc);
  }
}
