extends ../../layouts/main

block vars
  - const groupName = 'hero';
  - const cssName = 'hero-2';
  //- - const jsName = 'hero-2';

block content
  include ../../partials/text-block

  section.hero-2.section.block
    .hero-2__container.container
      +text-block('.hero-2__text-block ais tal', {btn: 'l'})
      picture.hero-2__poster-wrap
        img.hero-2__poster(src="@/assets/images/hero/bg-2.jpg" alt="")


