extends ../../layouts/main

block vars
  - const groupName = 'hero';
  - const cssName = 'hero-6';
  //- - const jsName = 'hero-6';

block content
  section.hero-6.section.block
    .container.hero-6__container 
      picture.hero-6__img-wrap 
        img.hero-6__img(src="@/assets/images/hero/bg-6.jpg", alt="")
      .hero-6__content 
        .hero-6__text-block 
          h2.hero-6__title.title Анатолий Белый  
          span.hero-6__subtitle "Я здесь!"
        button.hero-2__btn.btn.btn_l.btn_primary(type="button")
          svg(viewBox="0 0 16 16", fill="none", xmlns="http://www.w3.org/2000/svg")
            path(d="M9.60547 11.6665L6.39794 7.99983L9.60547 4.33317", stroke="currentColor", stroke-linecap="round", stroke-linejoin="round")
          |Button
          svg(viewBox="0 0 16 16", fill="none", xmlns="http://www.w3.org/2000/svg")
            path(d="M6.39453 11.6665L9.60206 7.99983L6.39453 4.33317", stroke="currentColor", stroke-linecap="round", stroke-linejoin="round")   

      