extends ../../layouts/main

block vars
  - const groupName = 'hero';
  - const cssName = 'hero-7';
  //- - const jsName = 'hero-7';

block content
  section.hero-7.section.block
    .container.hero-7__container 
      picture.hero-7__img-wrap 
        img.hero-7__img(src="@/assets/images/hero/bg-7.jpg", alt="")
      .hero-7__content 
        h2.hero-7__title.title-h1 Bruno Banarby „Ich sag euch ehrlich“ Preview

      