extends ../../layouts/main

block vars
  - const groupName = 'hero';
  - const cssName = 'hero-6';
  //- - const jsName = 'hero-6';

block content
  // Добавить к block класс block_dark
  // Заменить класс btn_black на btn_white
  section.hero-6.section.block
    .container.hero-6__container 
      picture.hero-6__img-wrap 
        img.hero-6__img(src="@/assets/img/hero/bg-6.jpg", alt="")
      .hero-6__content 
        .hero-6__text-block 
          h2.hero-6__title Анатолий Белый  
          span.hero-6__subtitle "Я здесь!"
        button.hero-6__btn.btn.btn_extralarge.btn_black Купить билет

      