extends ../../layouts/main

block vars
  - const groupName = 'hero';
  - const cssName = 'hero-2';
  //- - const jsName = 'hero-2';

block content
  section.hero-2.section.block
    .hero-2__container.container
      .hero-2__content
        .hero-2__text-block
          h2.hero-2__title We design digital experiences that create more happy in the world
          p.hero-2__desc — We’re a full-service design and development agency who specialise in simple, useful and beautiful solutions.
        .hero-2__btn-block
          a.hero-2__btn.btn.btn_m.btn_outline(href="#")
            svg.btn__icon(viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M6 18L18 6" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round")
              path(d="M8.25 6H18V15.75" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round")
            | Showreel
          button.hero-2__btn.btn.btn_m.btn_primary(type="button") Get in touch
      picture.hero-2__poster-wrap
        img.hero-2__poster(src="@/assets/images/hero/bg-2.jpg", alt="")


