extends ../../layouts/main

block vars
  - const cssName = 'hero-6';
  //- - const jsName = 'hero-6';

block content
  // Добавить к block класс block_dark
  // Заменить класс btn_black на btn_white
  section.hero.section.block
    .container.hero__container 
      picture.hero__img-wrap 
        img.hero__img(src="@/assets/img/hero/bg-6.jpg", alt="")
      .hero__content 
        .hero__text-block 
          h2.hero__title Анатолий Белый  
          span.hero__subtitle "Я здесь!"
        button.hero__btn.btn.btn_extralarge.btn_black Купить билет

      