mixin btn-block(className, data)
  - const btnSize = data.size === 'l' ? 'btn_l' : data.size === 'm' ? 'btn_m' : ''
  .btn-block(class=className)
    button.btn.btn_primary(type="button" class=btnSize)
      svg(viewBox="0 0 16 16", fill="none", xmlns="http://www.w3.org/2000/svg")
        path(d="M9.60547 11.6665L6.39794 7.99983L9.60547 4.33317", stroke="currentColor", stroke-linecap="round", stroke-linejoin="round")
      |Button
      svg(viewBox="0 0 16 16", fill="none", xmlns="http://www.w3.org/2000/svg")
        path(d="M6.39453 11.6665L9.60206 7.99983L6.39453 4.33317", stroke="currentColor", stroke-linecap="round", stroke-linejoin="round")   
    if data && data.white
      button.btn.btn_outline-white(type="button" class=btnSize)
        svg(viewBox="0 0 16 16", fill="none", xmlns="http://www.w3.org/2000/svg")
          path(d="M9.60547 11.6665L6.39794 7.99983L9.60547 4.33317", stroke="currentColor", stroke-linecap="round", stroke-linejoin="round")
        |Button
        svg(viewBox="0 0 16 16", fill="none", xmlns="http://www.w3.org/2000/svg")
          path(d="M6.39453 11.6665L9.60206 7.99983L6.39453 4.33317", stroke="currentColor", stroke-linecap="round", stroke-linejoin="round")   
    else
      button.btn.btn_outline(type="button" class=btnSize)
        svg(viewBox="0 0 16 16", fill="none", xmlns="http://www.w3.org/2000/svg")
          path(d="M9.60547 11.6665L6.39794 7.99983L9.60547 4.33317", stroke="currentColor", stroke-linecap="round", stroke-linejoin="round")
        |Button
        svg(viewBox="0 0 16 16", fill="none", xmlns="http://www.w3.org/2000/svg")
          path(d="M6.39453 11.6665L9.60206 7.99983L6.39453 4.33317", stroke="currentColor", stroke-linecap="round", stroke-linejoin="round")   
        