mixin menu
  .menu
    .menu__container.container
      nav.menu__nav
        ul.menu__nav-list
          li.menu__nav-item
            a.menu__nav-link(href="#") Locations
          li.menu__nav-item
            a.menu__nav-link(href="#") Restaurant
          li.menu__nav-item
            a.menu__nav-link(href="#") Services
          li.menu__nav-item
            a.menu__nav-link(href="#") Menu
          li.menu__nav-item
            a.menu__nav-link(href="#") Contacts