mixin checkbox
  label.checkbox
    input.visually-hidden.checkbox__flag(type="checkbox")
    span.checkbox__custom 
      svg.checkbox__custom-icon(viewBox="0 0 10 7", fill="none", xmlns="http://www.w3.org/2000/svg")
        path(d="M8.4375 1.125L3.85156 5.5L1.5625 3.3125", stroke="currentColor", stroke-width="1.25", stroke-linecap="round", stroke-linejoin="round")
    span.checkbox__text You agree to our friendly privacy policy.

