extends ../../layouts/main

block vars
  - const groupName = 'cards';
  - const cssName = 'cards-1';
  //- - const jsName = 'cards-1';

block content
  section.cards-1.section.block
    .cards-1__container.container 
      ul.cards-1__list
        li.cards-1__item 
          img.cards-1__icon(src="@/assets/images/cards/calendar.svg", alt="")
          .cards-1__text-block 
            strong.cards-1__title Ближайший концерт
            span.cards-1__text 11 апреля 2023 года
        li.cards-1__item 
          img.cards-1__icon(src="@/assets/images/cards/clock.svg", alt="")
          .cards-1__text-block 
            strong.cards-1__title Время
            span.cards-1__text 19:30
        li.cards-1__item 
          img.cards-1__icon(src="@/assets/images/cards/wallet.svg", alt="")
          .cards-1__text-block 
            strong.cards-1__title Цена
            span.cards-1__text От 35€
        li.cards-1__item 
          img.cards-1__icon(src="@/assets/images/cards/map.svg", alt="")
          .cards-1__text-block 
            strong.cards-1__title Адрес
            span.cards-1__text.cards-1__text_big Hofkino
            address.cards-1__text Franz-Mehring-Platz 1, 10243 Berlin
        li.cards-1__item.cards-1__item_contacts 
          strong.cards-1__title Контактные данные 
          ul.cards-1__contacts
            li.cards-1__contacts-item 
              .cards-1__contacts-name-block
                img.cards-1__contacts-icon(src="@/assets/images/cards/phone.svg", alt="")
                span.cards-1__contacts-name Телефон
              a.cards-1__contacts-link(href="tel:+01777717145") +0177-7717145
            li.cards-1__contacts-item 
              .cards-1__contacts-name-block
                img.cards-1__contacts-icon(src="@/assets/images/cards/message.svg", alt="")
                span.cards-1__contacts-name Email
              a.cards-1__contacts-link(href="mailto:info@artwelle.de") info@artwelle.de

    