// Utils
@use '../../utils/mixins' as mix;
@use '../../utils/variables' as vars;
@use '../../utils/functions' as fn;

.about-1 {
  &__container {
    display: flex;
    gap: fn.cmax(32, 80);
    align-items: center;

    @media (max-width: vars.$lg) {
      flex-direction: column;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: fn.cmin(32, 50);

    @media (min-width: vars.$min-lg) {
      width: 50%;
    }
  }

  &__img {
    &-block {
      flex-grow: 1;
    }

    &-wrap,
    & {
      width: 100%;
    }

    @include mix.ratio(576, 550);

    @media (max-width: vars.$md) {
      aspect-ratio: 1/1;
    }

    border-radius: 20px;
  }
}
