extends ../../layouts/main

block vars
  - const groupName = 'benefits';
  - const cssName = 'benefits-11';
  //- - const jsName = 'benefits-11';

block content
  include ../../partials/text-block
  include ../../partials/bottom-info

  section.benefits-11.section.block
    .benefits-11__container.container
      +text-block('', {btn: 'm'})
      ul.row.benefits-11__list
        - let i = 0
        while i < 3  
          - i++
          li.col-4.col-lg-6.col-md
            a.benefits-11__item(href="#") 
              picture.benefits-11__img-wrap
                img.benefits-11__img(src="@/assets/images/benefits/benefit-10.jpg" alt="")
              .benefits-11__info 
                h3.benefits-11__name Speisen & Getränke 
                p.benefits-11__text Vielfalt für jeden Geschmack
      +bottom-info('', {size: 'm'})
