extends ../../layouts/main

block vars
  - const cssName = 'benefits-4';
  //- - const jsName = 'benefits-4';

block content
  // Добавить к block класс block_dark
  section.benefits.section.block
    .benefits__container.container 
      .benefits__text-block 
        .benefits__title-block 
          span.benefits__subtitle Features
          h2.benefits__title Analytics that feels like it’s from the future
        p.benefits__desc Powerful, self-serve product and growth analytics to help you convert, engage, and retain more users. Trusted by over 4,000 startups.
      ul.benefits__list
        li.benefits__item 
          .benefits__content 
            .benefits__content-text-block
              h3.benefits__content-name Share team inboxes
              p.benefits__content-desc Whether you have a team of 2 or 200, our shared team inboxes keep everyone on the same page and in the loop.
            ul.benefits__content-list
              li.benefits__content-item 
                svg.benefits__content-icon(viewBox="0 0 24 24", fill="none", xmlns="http://www.w3.org/2000/svg")
                  path(d="M20.25 6.75L9.75 17.25L4.5 12", stroke="currentColor", stroke-width="1.5", stroke-linecap="round", stroke-linejoin="round")
                span Leverage automation to move fast
              li.benefits__content-item 
                svg.benefits__content-icon(viewBox="0 0 24 24", fill="none", xmlns="http://www.w3.org/2000/svg")
                  path(d="M20.25 6.75L9.75 17.25L4.5 12", stroke="currentColor", stroke-width="1.5", stroke-linecap="round", stroke-linejoin="round")
                span Leverage automation to move fast
              li.benefits__content-item 
                svg.benefits__content-icon(viewBox="0 0 24 24", fill="none", xmlns="http://www.w3.org/2000/svg")
                  path(d="M20.25 6.75L9.75 17.25L4.5 12", stroke="currentColor", stroke-width="1.5", stroke-linecap="round", stroke-linejoin="round")
                span Leverage automation to move fast
          picture.benefits__img-wrap
            img.benefits__img(src="@/assets/img/benefits/benefit-4.jpg", alt="")
        li.benefits__item 
          .benefits__content 
            .benefits__content-text-block
              h3.benefits__content-name Share team inboxes
              p.benefits__content-desc Whether you have a team of 2 or 200, our shared team inboxes keep everyone on the same page and in the loop.
            ul.benefits__content-list
              li.benefits__content-item 
                svg.benefits__content-icon(viewBox="0 0 24 24", fill="none", xmlns="http://www.w3.org/2000/svg")
                  path(d="M20.25 6.75L9.75 17.25L4.5 12", stroke="currentColor", stroke-width="1.5", stroke-linecap="round", stroke-linejoin="round")
                span Leverage automation to move fast
              li.benefits__content-item 
                svg.benefits__content-icon(viewBox="0 0 24 24", fill="none", xmlns="http://www.w3.org/2000/svg")
                  path(d="M20.25 6.75L9.75 17.25L4.5 12", stroke="currentColor", stroke-width="1.5", stroke-linecap="round", stroke-linejoin="round")
                span Leverage automation to move fast
              li.benefits__content-item 
                svg.benefits__content-icon(viewBox="0 0 24 24", fill="none", xmlns="http://www.w3.org/2000/svg")
                  path(d="M20.25 6.75L9.75 17.25L4.5 12", stroke="currentColor", stroke-width="1.5", stroke-linecap="round", stroke-linejoin="round")
                span Leverage automation to move fast
          picture.benefits__img-wrap
            img.benefits__img(src="@/assets/img/benefits/benefit-4.jpg", alt="")
        li.benefits__item 
          .benefits__content 
            .benefits__content-text-block
              h3.benefits__content-name Share team inboxes
              p.benefits__content-desc Whether you have a team of 2 or 200, our shared team inboxes keep everyone on the same page and in the loop.
            ul.benefits__content-list
              li.benefits__content-item 
                svg.benefits__content-icon(viewBox="0 0 24 24", fill="none", xmlns="http://www.w3.org/2000/svg")
                  path(d="M20.25 6.75L9.75 17.25L4.5 12", stroke="currentColor", stroke-width="1.5", stroke-linecap="round", stroke-linejoin="round")
                span Leverage automation to move fast
              li.benefits__content-item 
                svg.benefits__content-icon(viewBox="0 0 24 24", fill="none", xmlns="http://www.w3.org/2000/svg")
                  path(d="M20.25 6.75L9.75 17.25L4.5 12", stroke="currentColor", stroke-width="1.5", stroke-linecap="round", stroke-linejoin="round")
                span Leverage automation to move fast
              li.benefits__content-item 
                svg.benefits__content-icon(viewBox="0 0 24 24", fill="none", xmlns="http://www.w3.org/2000/svg")
                  path(d="M20.25 6.75L9.75 17.25L4.5 12", stroke="currentColor", stroke-width="1.5", stroke-linecap="round", stroke-linejoin="round")
                span Leverage automation to move fast
          picture.benefits__img-wrap
            img.benefits__img(src="@/assets/img/benefits/benefit-4.jpg", alt="")
      