extends ../../layouts/main

block vars
  - const groupName = 'benefits';
  - const cssName = 'benefits-7';
  //- - const jsName = 'benefits-7';

block content
  section.benefits-7.section.block
    .benefits-7__container.container
      .benefits-7__text-block 
        .benefits-7__title-block 
          span.benefits-7__subtitle.subtitle Features
          h2.benefits-7__title Cutting-edge features for advanced analytics
        p.benefits-7__desc Powerful, self-serve product and growth analytics to help you convert, engage, and retain more users. Trusted by over 4,000 startups.
      .row.benefits-7__desktop
        .col-4
          ul.benefits-7__list 
            li.benefits-7__item
              img.benefits-7__item-icon(src="@/assets/images/benefits/benefit-7-icon.svg", alt="")
              h3.benefits-7__item-name Share team inboxes
              p.benefits-7__item-desc Whether you have a team of 2 or 200, our shared team inboxes keep everyone on the same page and in the loop.
            li.benefits-7__item
              img.benefits-7__item-icon(src="@/assets/images/benefits/benefit-7-icon.svg", alt="")
              h3.benefits-7__item-name Manage your team with reports
              p.benefits-7__item-desc Measure what matters with Untitled’s easy-to-use reports. You can filter, export, and drilldown on the data in a couple clicks.
            li.benefits-7__item
              img.benefits-7__item-icon(src="@/assets/images/benefits/benefit-7-icon.svg", alt="")
              h3.benefits-7__item-name Deliver instant answers
              p.benefits-7__item-desc An all-in-one customer service platform that helps you balance everything your customers need to be happy.
        .col-4
          picture.benefits-7__poster-wrap 
            img.benefits-7__poster(src="@/assets/images/benefits/benefit-7.jpg", alt="")
        .col-4
          ul.benefits-7__list 
            li.benefits-7__item
              img.benefits-7__item-icon(src="@/assets/images/benefits/benefit-7-icon.svg", alt="")
              h3.benefits-7__item-name Manage your team with reports
              p.benefits-7__item-desc Measure what matters with Untitled’s easy-to-use reports. You can filter, export, and drilldown on the data in a couple clicks.
            li.benefits-7__item
              img.benefits-7__item-icon(src="@/assets/images/benefits/benefit-7-icon.svg", alt="")
              h3.benefits-7__item-name Connect with customers
              p.benefits-7__item-desc Solve a problem or close a sale in real-time with chat. If no one is available, customers are seamlessly routed to email without confusion.
            li.benefits-7__item
              img.benefits-7__item-icon(src="@/assets/images/benefits/benefit-7-icon.svg", alt="")
              h3.benefits-7__item-name Connect with customers
              p.benefits-7__item-desc Solve a problem or close a sale in real-time with chat. If no one is available, customers are seamlessly routed to email without confusion.
    
      .benefits-7__mobile
        picture.benefits-7__poster-wrap 
          img.benefits-7__poster(src="@/assets/images/benefits/benefit-7.jpg", alt="")
        ul.row.benefits-7__mobile-list
          li.col-6.col-sm
            .benefits-7__item
              img.benefits-7__item-icon(src="@/assets/images/benefits/benefit-7-icon.svg", alt="")
              h3.benefits-7__item-name Share team inboxes
              p.benefits-7__item-desc Whether you have a team of 2 or 200, our shared team inboxes keep everyone on the same page and in the loop.
          li.col-6.col-sm
            .benefits-7__item
              img.benefits-7__item-icon(src="@/assets/images/benefits/benefit-7-icon.svg", alt="")
              h3.benefits-7__item-name Manage your team with reports
              p.benefits-7__item-desc Measure what matters with Untitled’s easy-to-use reports. You can filter, export, and drilldown on the data in a couple clicks.
          li.col-6.col-sm
            .benefits-7__item
              img.benefits-7__item-icon(src="@/assets/images/benefits/benefit-7-icon.svg", alt="")
              h3.benefits-7__item-name Deliver instant answers
              p.benefits-7__item-desc An all-in-one customer service platform that helps you balance everything your customers need to be happy.
          li.col-6.col-sm
            .benefits-7__item
              img.benefits-7__item-icon(src="@/assets/images/benefits/benefit-7-icon.svg", alt="")
              h3.benefits-7__item-name Manage your team with reports
              p.benefits-7__item-desc Measure what matters with Untitled’s easy-to-use reports. You can filter, export, and drilldown on the data in a couple clicks.
          li.col-6.col-sm
            .benefits-7__item
              img.benefits-7__item-icon(src="@/assets/images/benefits/benefit-7-icon.svg", alt="")
              h3.benefits-7__item-name Connect with customers
              p.benefits-7__item-desc Solve a problem or close a sale in real-time with chat. If no one is available, customers are seamlessly routed to email without confusion.
          li.col-6.col-sm
            .benefits-7__item
              img.benefits-7__item-icon(src="@/assets/images/benefits/benefit-7-icon.svg", alt="")
              h3.benefits-7__item-name Connect with customers
              p.benefits-7__item-desc Solve a problem or close a sale in real-time with chat. If no one is available, customers are seamlessly routed to email without confusion.
        
        
          
      