extends ../../layouts/main

block vars
  - const groupName = 'benefits';
  - const cssName = 'benefits-4';
  //- - const jsName = 'benefits-4';

block content
  section.benefits-4.section.block
    .benefits-4__container.container 
      .benefits-4__top
        .benefits
          .benefits-4__icon-wrap
            img.benefits-4__icon(src="@/assets/images/benefits/benefit-12-icon.png" alt="")
        .benefits-4__text-block 
          .benefits-4__title-block 
            span.benefits-4__subtitle.subtitle Features
            h2.benefits-4__title Analytics that feels like it’s from the future
          p.benefits-4__desc Powerful, self-serve product and growth analytics to help you convert, engage, and retain more users. Trusted by over 4,000 startups.
      ul.benefits-4__list
        li.benefits-4__item 
          .benefits-4__content 
            .benefits-4__content-text-block
              h3.benefits-4__content-name Share team inboxes
              p.benefits-4__content-desc Whether you have a team of 2 or 200, our shared team inboxes keep everyone on the same page and in the loop.
            ul.benefits-4__content-list
              li.benefits-4__content-item 
                svg.benefits-4__content-icon(viewBox="0 0 24 24", fill="none", xmlns="http://www.w3.org/2000/svg")
                  path(d="M20.25 6.75L9.75 17.25L4.5 12", stroke="currentColor", stroke-width="1.5", stroke-linecap="round", stroke-linejoin="round")
                span Leverage automation to move fast
              li.benefits-4__content-item 
                svg.benefits-4__content-icon(viewBox="0 0 24 24", fill="none", xmlns="http://www.w3.org/2000/svg")
                  path(d="M20.25 6.75L9.75 17.25L4.5 12", stroke="currentColor", stroke-width="1.5", stroke-linecap="round", stroke-linejoin="round")
                span Leverage automation to move fast
              li.benefits-4__content-item 
                svg.benefits-4__content-icon(viewBox="0 0 24 24", fill="none", xmlns="http://www.w3.org/2000/svg")
                  path(d="M20.25 6.75L9.75 17.25L4.5 12", stroke="currentColor", stroke-width="1.5", stroke-linecap="round", stroke-linejoin="round")
                span Leverage automation to move fast
          picture.benefits-4__img-wrap
            img.benefits-4__img(src="@/assets/images/benefits/benefit-4.jpg", alt="")
        li.benefits-4__item 
          .benefits-4__content 
            .benefits-4__content-text-block
              h3.benefits-4__content-name Share team inboxes
              p.benefits-4__content-desc Whether you have a team of 2 or 200, our shared team inboxes keep everyone on the same page and in the loop.
            ul.benefits-4__content-list
              li.benefits-4__content-item 
                svg.benefits-4__content-icon(viewBox="0 0 24 24", fill="none", xmlns="http://www.w3.org/2000/svg")
                  path(d="M20.25 6.75L9.75 17.25L4.5 12", stroke="currentColor", stroke-width="1.5", stroke-linecap="round", stroke-linejoin="round")
                span Leverage automation to move fast
              li.benefits-4__content-item 
                svg.benefits-4__content-icon(viewBox="0 0 24 24", fill="none", xmlns="http://www.w3.org/2000/svg")
                  path(d="M20.25 6.75L9.75 17.25L4.5 12", stroke="currentColor", stroke-width="1.5", stroke-linecap="round", stroke-linejoin="round")
                span Leverage automation to move fast
              li.benefits-4__content-item 
                svg.benefits-4__content-icon(viewBox="0 0 24 24", fill="none", xmlns="http://www.w3.org/2000/svg")
                  path(d="M20.25 6.75L9.75 17.25L4.5 12", stroke="currentColor", stroke-width="1.5", stroke-linecap="round", stroke-linejoin="round")
                span Leverage automation to move fast
          picture.benefits-4__img-wrap
            img.benefits-4__img(src="@/assets/images/benefits/benefit-4.jpg", alt="")
        li.benefits-4__item 
          .benefits-4__content 
            .benefits-4__content-text-block
              h3.benefits-4__content-name Share team inboxes
              p.benefits-4__content-desc Whether you have a team of 2 or 200, our shared team inboxes keep everyone on the same page and in the loop.
            ul.benefits-4__content-list
              li.benefits-4__content-item 
                svg.benefits-4__content-icon(viewBox="0 0 24 24", fill="none", xmlns="http://www.w3.org/2000/svg")
                  path(d="M20.25 6.75L9.75 17.25L4.5 12", stroke="currentColor", stroke-width="1.5", stroke-linecap="round", stroke-linejoin="round")
                span Leverage automation to move fast
              li.benefits-4__content-item 
                svg.benefits-4__content-icon(viewBox="0 0 24 24", fill="none", xmlns="http://www.w3.org/2000/svg")
                  path(d="M20.25 6.75L9.75 17.25L4.5 12", stroke="currentColor", stroke-width="1.5", stroke-linecap="round", stroke-linejoin="round")
                span Leverage automation to move fast
              li.benefits-4__content-item 
                svg.benefits-4__content-icon(viewBox="0 0 24 24", fill="none", xmlns="http://www.w3.org/2000/svg")
                  path(d="M20.25 6.75L9.75 17.25L4.5 12", stroke="currentColor", stroke-width="1.5", stroke-linecap="round", stroke-linejoin="round")
                span Leverage automation to move fast
          picture.benefits-4__img-wrap
            img.benefits-4__img(src="@/assets/images/benefits/benefit-4.jpg", alt="")
      