extends ../../layouts/main

block vars
  - const groupName = 'breadcrumbs';
  - const cssName = 'breadcrumbs-1';
  //- - const jsName = 'breadcrumbs-1';

block content
  // Добавить к block класс block_dark
  section.breadcrumbs-1.block
    .container.breadcrumbs-1__container 
      ul.breadcrumbs-1__list 
        li.breadcrumbs-1__item 
          a.breadcrumbs-1__link(href="#") Главная
        li.breadcrumbs-1__item 
          a.breadcrumbs-1__link(href="#") События 
        li.breadcrumbs-1__item 
          a.breadcrumbs-1__item(href="#") Анатолий Белый
  