extends ../../layouts/main

block vars
  - const groupName = 'menu';
  - const cssName = 'menu-2';
  //- - const jsName = 'menu-2';

block content
  section.menu-2.section.block
    .menu-2__container.container 
      .menu-2__text-block 
        span.menu-2__subtitle.subtitle Delicious
        h2.menu-2__title Weekly Lunch menu excerpt
      .menu-2__content
        picture.menu-2__img-wrap 
          img.menu-2__img(src="@/assets/images/menu/menu-2.jpg", alt="")
        ul.row.menu-2__list
          - let i = 0;
          while i < 9
            - i++
            li.col-4.col-lg-6.col-md
              .menu-2__item
                .menu-2__item-text-block 
                  strong.menu-2__item-name Shrimp tacos
                  span.menu-2__item-price 12.95€ 
                p.menu-2__item-desc Shrimps, lettuce, cucumbers, sauce, tomatoes, cheese, herbs, corn, cabbage, beans
        button.menu-2__btn.btn.btn_large.btn_all(type="button") View menu
          svg.menu-2__btn-icon(viewBox="0 0 25 24", fill="none", xmlns="http://www.w3.org/2000/svg")
            path(d="M5.5 12H19.5M19.5 12L12.5 5M19.5 12L12.5 19", stroke="currentColor", stroke-width="1.66667", stroke-linecap="round", stroke-linejoin="round")

          

      