extends ../../layouts/main

block vars
  - const groupName = 'header';
  - const cssName = 'header-1-4';
  //- - const jsName = 'header-1-4';

block content
  include ../../partials/burger-menu
  include ../../partials/nav-popup

  header.header-1-4.block
    .header-1-4__inner
      .header-1-4__container.container
        a.header-1-4__logo(href="#") 
          img.header-1-4__logo-img(src="http://via.placeholder.com/158x36" alt="")
        nav.header-1-4__nav 
          ul.header-1-4__nav-list 
            +nav-popup('li','header-1-4__nav-item')
            li.header-1-4__nav-item.nav-popup-item  
              a.header-1-4__nav-link(href="#") Restaurant
            +nav-popup('li','header-1-4__nav-item')
            li.header-1-4__nav-item.nav-popup-item  
              a.header-1-4__nav-link(href="#") Menu
            li.header-1-4__nav-item.nav-popup-item  
              a.header-1-4__nav-link(href="#") Contacts
        .header-1-4__contacts
          a.header-1-4__contacts-tel.btn.btn_s(href="#") 
            svg(viewBox="0 0 16 16", fill="none", xmlns="http://www.w3.org/2000/svg")
              path(d="M9.60547 11.6665L6.39794 7.99983L9.60547 4.33317", stroke="currentColor", stroke-linecap="round", stroke-linejoin="round")
            |Button
            svg(viewBox="0 0 16 16", fill="none", xmlns="http://www.w3.org/2000/svg")
              path(d="M6.39453 11.6665L9.60206 7.99983L6.39453 4.33317", stroke="currentColor", stroke-linecap="round", stroke-linejoin="round")   
          button.header-1-4__contacts-btn.btn.btn_s.btn_primary(type="button") 
            svg(viewBox="0 0 16 16", fill="none", xmlns="http://www.w3.org/2000/svg")
              path(d="M9.60547 11.6665L6.39794 7.99983L9.60547 4.33317", stroke="currentColor", stroke-linecap="round", stroke-linejoin="round")
            |Button
            svg(viewBox="0 0 16 16", fill="none", xmlns="http://www.w3.org/2000/svg")
              path(d="M6.39453 11.6665L9.60206 7.99983L6.39453 4.33317", stroke="currentColor", stroke-linecap="round", stroke-linejoin="round")   
        +menu
        button.header-1-4__contacts-btn.header-1-4__contacts-btn_mobile.btn.btn_s.btn_primary(type="button") 
          svg(viewBox="0 0 16 16", fill="none", xmlns="http://www.w3.org/2000/svg")
            path(d="M9.60547 11.6665L6.39794 7.99983L9.60547 4.33317", stroke="currentColor", stroke-linecap="round", stroke-linejoin="round")
          |Button
          svg(viewBox="0 0 16 16", fill="none", xmlns="http://www.w3.org/2000/svg")
            path(d="M6.39453 11.6665L9.60206 7.99983L6.39453 4.33317", stroke="currentColor", stroke-linecap="round", stroke-linejoin="round")   
              