extends ../../layouts/main

block vars
  - const groupName = 'header';
  - const cssName = 'header-1-1';
  //- - const jsName = 'header-1-1';

block content
  include ../../partials/burger-menu

  header.header-1-1.block
    .header-1-1__inner
      .header-1-1__container.container
        a.header-1-1__logo(href="#") 
          img.header-1-1__logo-img(src="http://via.placeholder.com/158x36", alt="")
        nav.header-1-1__nav 
          ul.header-1-1__nav-list 
            li.header-1-1__nav-item 
              .select.select-nav.header-select
                button(data-value="" type="button") Locations
                button(data-value="link1" type="button")
                  a.header-1-1__nav-link(href="#") Link 1
                button(data-value="link2" type="button")
                  a.header-1-1__nav-link(href="#") Link 2
                button(data-value="link3" type="button")
                  a.header-1-1__nav-link(href="#") Link 3
                button(data-value="link4" type="button")
                  a.header-1-1__nav-link(href="#") Link 4
            li.header-1-1__nav-item 
              a.header-1-1__nav-link(href="#") Restaurant
            li.header-1-1__nav-item 
              .select.select-nav.header-select
                button(data-value="" type="button") Services
                button(data-value="link1" type="button")
                  a.header-1-1__nav-link(href="#") Link 1
                button(data-value="link2" type="button")
                  a.header-1-1__nav-link(href="#") Link 2
            li.header-1-1__nav-item 
              a.header-1-1__nav-link(href="#") Menu
            li.header-1-1__nav-item 
              a.header-1-1__nav-link(href="#") Contacts
        .header-1-1__contacts
          a.header-1-1__contacts-tel.btn.btn_medium(href="#") Call us
          button.header-1-1__contacts-btn.btn.btn_medium.btn_black(type="button") Book a table
        button.header-1-1__burger(type="button")    
          span.header-1-1__burger-item
          span.header-1-1__burger-item
          span.header-1-1__burger-item
        +menu
