extends ../../layouts/main

block vars
  - const groupName = 'faq';
  - const cssName = 'faq-1';
  //- - const jsName = 'faq-1';

block content
  section.faq-1.section.block
    .faq-1__container.container
      .faq-1__content 
        .faq-1__text-block 
          h2.faq-1__title Frequently asked questions
          p.faq-1__desc Everything you need to know about the product and billing.
        ul.acc
          - let i = 0;
          while i < 6
            - i++
            li.acc__item 
              .acc__head 
                button.acc__trigger.acc__trigger_inset(type="button")
                h3.acc__title Is there a free trial available?
                button.acc__trigger(type="button")
                  svg.acc__icon.acc__icon_open(viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
                    path(d="M12 21C16.9706 21 21 16.9706 21 12C21 7.02944 16.9706 3 12 3C7.02944 3 3 7.02944 3 12C3 16.9706 7.02944 21 12 21Z" stroke="currentColor" stroke-opacity="0.5" stroke-width="1.5" stroke-miterlimit="10")
                    path(d="M8.25 12H15.75" stroke="currentColor" stroke-opacity="0.5" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round")
                    path(d="M12 8.25V15.75" stroke="currentColor" stroke-opacity="0.5" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round")
                  svg.acc__icon.acc__icon_close(viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
                    path(d="M12 21C16.9706 21 21 16.9706 21 12C21 7.02944 16.9706 3 12 3C7.02944 3 3 7.02944 3 12C3 16.9706 7.02944 21 12 21Z" stroke="currentColor" stroke-opacity="0.5" stroke-width="1.5" stroke-miterlimit="10")
                    path(d="M8.25 12H15.75" stroke="currentColor" stroke-opacity="0.5" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round")
              .acc__body
                .acc__content
                  p Yes, you can try us for free for 30 days. If you want, we’ll provide you with a free, personalized 30-minute onboarding call to get you up and running as soon as possible.

