extends ../../layouts/main

block vars
  - const groupName = 'thanks';
  - const cssName = 'thanks-1';
  //- - const jsName = 'thanks-1';

block content
  section.thanks-1.section.block
    .container.thanks-1__container 
      .thanks-1__content
        .thanks-1__icon-block
          svg.thanks-1__icon(viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg")
            path(d="M37.5 50.0013L45.8333 58.3346L62.5 41.668" stroke="currentColor" stroke-width="4" stroke-linecap="round" stroke-linejoin="round")
            rect(x="10.3359" y="10.334" width="79.3333" height="79.3333" rx="27.3125" stroke="currentColor" stroke-width="4")
        h2.thanks-1__title  Customer service software for customer-first teams
        p.thanks-1__desc Book a table The best customer service software for customer-first teams. Industry-leading email and live chat support.
        button.thanks-1__btn.btn.btn_m.btn_primary(type="button") Book a table
