block vars
  - const groupName = ''
  - const cssName = 'main'
  - const jsName = false


doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href=`../assets/styles/main.css`)
    link(rel="stylesheet", href=`../assets/styles/${groupName}/${cssName}.css`)
    if jsName 
      script(defer src=`../assets/scripts/base.js`)
      script(defer src=`../assets/scripts/${groupName}/${jsName}.js`)
  body
    block content