// Utils
@use '../../utils/mixins' as mix;
@use '../../utils/variables' as vars;
@use '../../utils/functions' as fn;

.gallery-6-1 {
  &__container {
    display: flex;
    flex-direction: column;
    gap: fn.cmin(24, 64);
    align-items: center;
  }

  &__content {
    margin: 0 fn.overhang();
    overflow: hidden;
  }

  &__list {
    &-block {
      display: flex;
      flex-direction: column;
      gap: 16px;
      width: 100vw;
      margin: 0 auto;

      @media (max-width: vars.$md) {
        display: none;
      }
    }

    display: flex;
    gap: 16px;
    margin: 0 -34px;
  }

  &__item {
    flex-grow: 1;
  }

  &__link {
    width: 100%;
  }

  &__img {
    &-wrap,
    & {
      width: 100%;
      height: 100%;
    }

    border-radius: 20px;

    @media (max-width: vars.$md) {
      aspect-ratio: 1/1;
    }
  }

  &__slider {
    @media (min-width: vars.$min-md) {
      display: none;
    }

    width: 100vw;

    &-btn {
      &-block {
        display: flex;
        gap: 12px;
        justify-content: center;
        margin-top: fn.cmin(24, 32);
      }
    }
  }

  .swiper {
    &-slide {
      height: unset;
    }
  }
}
