extends ../layouts/main

block vars
  - const cssName = 'gallery-3';
  //- - const jsName = 'gallery-3';

block content
  // Добавить к block класс block_dark
  section.gallery.gallery_4.section.block
    .gallery__container.container 
      h2.gallery__title Gallery 
      ul.row.gallery__list 
        .gallery__item.gallery__item_8
          picture.gallery__img-wrap
            img.gallery__img(src="@/assets/img/gallery/4/item-1.jpg", alt="")
        .gallery__item.gallery__item_2
          picture.gallery__img-wrap
            img.gallery__img(src="@/assets/img/gallery/4/item-2.jpg", alt="")
        .gallery__item.gallery__item_2
          picture.gallery__img-wrap
            img.gallery__img(src="@/assets/img/gallery/4/item-3.jpg", alt="")

        .gallery__item.gallery__item_5
          picture.gallery__img-wrap
            img.gallery__img(src="@/assets/img/gallery/4/item-4.jpg", alt="")
        .gallery__item.gallery__item_2
          picture.gallery__img-wrap
            img.gallery__img(src="@/assets/img/gallery/4/item-5.jpg", alt="")
        .gallery__item.gallery__item_5
          picture.gallery__img-wrap
            img.gallery__img(src="@/assets/img/gallery/4/item-6.jpg", alt="")

        .gallery__item.gallery__item_4
          picture.gallery__img-wrap
            img.gallery__img(src="@/assets/img/gallery/4/item-7.jpg", alt="")
        .gallery__item.gallery__item_4
          picture.gallery__img-wrap
            img.gallery__img(src="@/assets/img/gallery/4/item-8.jpg", alt="")
        .gallery__item.gallery__item_4
          picture.gallery__img-wrap
            img.gallery__img(src="@/assets/img/gallery/4/item-9.jpg", alt="")

      