@use '../utils/mixins' as mix;
@use '../utils/variables' as vars;
@use '../utils/functions' as fn;

$black: #222;
$white: #fff;

// Vars
:root {
  --red: #e64646;
  --green: #4bb34b;
  --orange: #ffa000;
  --grey: #979797;
  --blue: #4594c0;
  --light-blue: #e8eef1;
  --light-blue-opacity-50: rgba(232, 238, 241, 50%);
  --white: #{$white};
  --black: #{$black};
  --black-10: #{rgba($black, 0.1)};
  --white-10: #{rgba($white, 0.1)};
  --black-5: #{rgba($black, 0.05)};
  --white-5: #{rgba($white, 0.05)};
  --black-40: #{rgba($black, 0.4)};
  --white-40: #{rgba($white, 0.4)};
  --black-50: #{rgba($black, 0.5)};
  --white-50: #{rgba($white, 0.5)};

  // Container
  --container: 1290px;
  --padding: 75px;

  // Gutter
  --gutter: 30px;

  @media (max-width: vars.$xxl) {
    --container: 1140px;
    --padding: 30px;
  }

  @media (max-width: vars.$xl) {
    --container: 960px;
    --padding: 25px;
  }

  @media (max-width: vars.$lg) {
    --container: 720px;
    --padding: 20px;
  }

  @media (max-width: vars.$md) {
    --container: 540px;
    --padding: 16px;
  }

  @media (max-width: vars.$sm) {
    --container: 100%;
  }
}
